<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">

		<div class="breadcrumbs">
			<a href="#" class="breadcrumbs__link">Liebherr</a>
			<span class="breadcrumbs__sep">/</span>
			<span class="breadcrumbs__text">подключение</span>
		</div>
		<h1 class="title">
			Установка и подключение оборудования Liebherr
		</h1>
		<div class="text-default">
			<img src="{{src}}service2.png" alt="" class="shipping-payment__pic">
			<p>
				Вся техника Liebherr устанавливается и подключается нашим партнерским сервисным центром. Корректная
				установка и правильный ввод в эксплуатацию крайне важны для долгого срока службы бытовой техники.
			</p>
			<p>
				Выезд специалистов возможен во все районы Москвы и Подмосковья.
			</p>
			<p>
				Заявки на подключение принимаются по телефону <a href="tel:+74951912618"
					class="shipping-payment__number">
					+7 (495) 191-26-18</a>
			</p>
			<h3>
				Стоимость услуг сервисного центра
			</h3>
			<table style="border-collapse: collapse;" class="table" cellspacing="1" cellpadding="1" border="0">
				<tbody>
					<tr class="table_tr">
						<td class="table_td">Стандартная
							установка отдельностоящих холодильников</td>
						<td class="table_td">1600&nbsp;руб.</td>
					</tr>

					<tr class="table_tr">
						<td class="table_td">Стандартная установка
							встраиваемых холодильников</td>
						<td class="table_td">1900&nbsp;руб.</td>
					</tr>

					<tr class="table_tr">
						<td class="table_td">Установка
							отдельностоящих холодильников Side-by-Side</td>
						<td class="table_td">2500&nbsp;руб.</td>
					</tr>

					<tr class="table_tr">
						<td class="table_td">Установка
							холодильников Side-by-Side из двух частей</td>
						<td class="table_td">2500
							руб.</td>
					</tr>

					<tr class="table_tr">
						<td class="table_td">Установка
							холодильников Side-by-Side из двух частей с подключением к воде</td>
						<td class="table_td">4000
							руб.</td>
					</tr>

					<tr class="table_tr">
						<td class="table_td">Демонтаж старого

							прибора</td>
						<td class="table_td">
							от 700 руб.</td>
					</tr>

					<tr class="table_tr">
						<td class="table_td">Выезд за МКАД (+ к
							стоимости заказа).</td>
						<td class="table_td">40
							руб./км</td>
					</tr>

					<tr class="table_tr">
						<td class="table_td">Минимальная стоимость
							выезда мастера (+ к стоимости заказа).</td>
						<td class="table_td">1600
							руб.</td>
					</tr>
				</tbody>
			</table>
			<table width="720" border="0">
				<tbody>
					<tr style="background-color: rgb(255, 255, 255);">
						<td st="" yle="padding: 5px; text-align: center;" colspan="2" style="border-image: initial;"
							align="center"><b>Стандартная установка отдельностоящей техники на готовые коммуникации</b>
						</td>
					</tr>

					<tr style="background-color: rgb(238, 238, 238);">
						<td class="table_rowA" st="" yle="padding: 5px; width: 320px;" style="border-image: initial;">
							Стиральная машина</td>
						<td class="table_rowA" st="" yle="text-align: right; padding: 5px;"
							style="border-image: initial;"><strong>1600&nbsp;руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(255, 255, 255);">
						<td class="table_rowA" st="" yle="padding: 5px; width: 320px;" style="border-image: initial;">
							Посудомоечная машина</td>
						<td class="table_rowA" st="" yle="text-align: right; padding: 5px;"
							style="border-image: initial;"><strong>1600&nbsp;руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(238, 238, 238);">
						<td class="table_rowA" st="" yle="padding: 5px; width: 320px;" style="border-image: initial;">
							Сушильная машина</td>
						<td class="table_rowA" st="" yle="text-align: right; padding: 5px;"
							style="border-image: initial;"><strong>1600&nbsp;руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(255, 255, 255);">
						<td style="padding: 5px; border-image: initial;">Стиральная машина под столешницу</td>
						<td st="" yle="text-align: right; padding: 5px;" style="border-image: initial;">
							<strong>1900&nbsp;руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(238, 238, 238);">
						<td style="padding: 5px; border-image: initial;">Посудомоечная машина под столешницу</td>
						<td st="" yle="text-align: right; padding: 5px;" style="border-image: initial;">
							<strong>1900&nbsp;руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(255, 255, 255);">
						<td st="" yle="padding: 5px; text-align: center;" colspan="2" style="border-image: initial;"
							align="center"><b>Подключение встраиваемой техники на готовые коммуникации</b></td>
					</tr>

					<tr style="background-color: rgb(238, 238, 238);">
						<td class="table_rowA" style="padding: 5px; border-image: initial;">Варочная поверхность
							<br>
						</td>
						<td class="table_rowA" st="" yle="text-align: right; padding: 5px;"
							style="border-image: initial;"><strong>1900 руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(255, 255, 255);">
						<td style="padding: 5px; border-image: initial;">Духовой шкаф</td>
						<td st="" yle="text-align: right; padding: 5px;" style="border-image: initial;"><strong>1900
								руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(238, 238, 238);">
						<td class="table_rowA" style="padding: 5px; border-image: initial;">Посудомоечная машина
							<br>
						</td>
						<td class="table_rowA" st="" yle="text-align: right; padding: 5px;"
							style="border-image: initial;"><strong>1900 руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(255, 255, 255);">
						<td style="padding: 5px; border-image: initial;">Стиральная машина</td>
						<td st="" yle="text-align: right; padding: 5px;" style="border-image: initial;"><strong>1900
								руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(238, 238, 238);">
						<td class="table_rowA" style="padding: 5px; border-image: initial;">Микроволновая печь
							<br>
						</td>
						<td class="table_rowA" st="" yle="text-align: right; padding: 5px;"
							style="border-image: initial;"><strong>1900 руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(255, 255, 255);">
						<td style="padding: 5px; border-image: initial;">Пароварка</td>
						<td st="" yle="text-align: right; padding: 5px;" style="border-image: initial;"><strong>1900
								руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(238, 238, 238);">
						<td class="table_rowA" style="padding: 5px; border-image: initial;">Подогреватель посуды
							<br>
						</td>
						<td class="table_rowA" st="" yle="text-align: right; padding: 5px;"
							style="border-image: initial;"><strong>1900 руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(255, 255, 255);">
						<td style="padding: 5px; border-image: initial;">Кофемашина</td>
						<td st="" yle="text-align: right; padding: 5px;" style="border-image: initial;"><strong>1900
								руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(238, 238, 238);">
						<td style="padding: 5px; border-image: initial;" colspan="2" align="center">Стандартная
							установка включает в себя: разблокировку прибора, установку на место дальнейшей
							эксплуатации, регулировку по уровню, первый запуск, консультацию по использованию</td>
					</tr>

					<tr style="background-color: rgb(255, 255, 255);">
						<td st="" yle="padding: 5px; text-align: center;" colspan="2" style="border-image: initial;"
							align="center"><b>Подключение холодильников</b></td>
					</tr>

					<tr style="background-color: rgb(238, 238, 238);">
						<td class="table_rowA" style="padding: 5px; border-image: initial;">Отдельностоящий холодильник
							шириной до 60 см
							<br>
						</td>
						<td class="table_rowA" st="" yle="text-align: right; padding: 5px;"
							style="border-image: initial;"><strong>1600 руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(255, 255, 255);">
						<td style="padding: 5px; border-image: initial;">Встраиваемый холодильник</td>
						<td st="" yle="text-align: right; padding: 5px;" style="border-image: initial;"><strong>1900
								руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(238, 238, 238);">
						<td class="table_rowA" style="padding: 5px; border-image: initial;">Отдельностоящий холодильник
							Side-by-Side
							<br>
						</td>
						<td class="table_rowA" st="" yle="text-align: right; padding: 5px;"
							style="border-image: initial;"><strong>2500 руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(255, 255, 255);">
						<td style="padding: 5px; border-image: initial;">Холодильник Side-by-Side с подключением к воде
							(установка на место дальнейшей эксплуатации, регулировка, подключение к готовым
							коммуникациям)</td>
						<td st="" yle="text-align: right; padding: 5px;" style="border-image: initial;"><strong>4000
								руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(238, 238, 238);">
						<td class="table_rowA" style="padding: 5px; border-image: initial;">Холодильник Side-by-Side из
							двух частей (установка на место дальнейшей эксплуатации, регулировка и соединение отдельных
							частей)
							<br>
						</td>
						<td class="table_rowA" st="" yle="text-align: right; padding: 5px;"
							style="border-image: initial;"><strong>2500 руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(255, 255, 255);">
						<td style="padding: 5px; border-image: initial;">Холодильник Side-by-Side из двух частей с
							подключением к воде (установка на место дальнейшей эксплуатации, регулировка и соединение
							отдельных частей, подключение к готовым коммуникациям)</td>
						<td st="" yle="text-align: right; padding: 5px;" style="border-image: initial;"><strong>4000
								руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(238, 238, 238);">
						<td st="" yle="padding: 5px; text-align: center;" colspan="2" style="border-image: initial;"
							align="center"><b>Подключение вытяжек</b></td>
					</tr>

					<tr style="background-color: rgb(255, 255, 255);">
						<td class="table_rowA" style="padding: 5px; border-image: initial;">Вытяжка кассетная
							<br>
						</td>
						<td class="table_rowA" st="" yle="text-align: right; padding: 5px;"
							style="border-image: initial;"><strong>1600 руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(238, 238, 238);">
						<td style="padding: 5px; border-image: initial;">Вытяжка каминная (купольная) шириной до 60 см
						</td>
						<td st="" yle="text-align: right; padding: 5px;" style="border-image: initial;"><strong>2500
								руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(255, 255, 255);">
						<td class="table_rowA" style="padding: 5px; border-image: initial;">Вытяжка каминная (купольная)
							шириной до 90 см
							<br>
						</td>
						<td class="table_rowA" st="" yle="text-align: right; padding: 5px;"
							style="border-image: initial;"><strong>3000 руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(238, 238, 238);">
						<td style="padding: 5px; border-image: initial;">Вытяжка наклонная пристенная до 60 см</td>
						<td st="" yle="text-align: right; padding: 5px;" style="border-image: initial;"><strong>3000
								руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(255, 255, 255);">
						<td class="table_rowA" style="padding: 5px; border-image: initial;">Вытяжка наклонная пристенная
							до 90 см
							<br>
						</td>
						<td class="table_rowA" st="" yle="text-align: right; padding: 5px;"
							style="border-image: initial;"><strong>4000 руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(238, 238, 238);">
						<td style="padding: 5px; border-image: initial;">Вытяжка островного типа (бетон)</td>
						<td st="" yle="text-align: right; padding: 5px;" style="border-image: initial;"><strong>8000
								руб.</strong></td>
					</tr>

					<tr style="background-color: rgb(255, 255, 255);">
						<td class="table_rowA" style="padding: 5px; border-image: initial;">Вытяжка островного типа
							(гипсокартон)
							<br>
						</td>
						<td class="table_rowA" st="" yle="text-align: right; padding: 5px;"
							style="border-image: initial;"><strong>10000 руб.</strong></td>
					</tr>

					<tr>
						<td colspan="2" style="text-align: center; border-image: initial;"><b>Дополнительно</b></td>
					</tr>

					<tr></tr>

					<tr style="background-color: rgb(238, 238, 238);">
						<td style="padding: 5px; border-image: initial;">Навешивание фасада </td>
						<td style="border-image: initial;"><b>1000 рублей</b></td>
					</tr>

					<tr style="background-color: rgb(255, 255, 255);">
						<td class="table_rowA" style="padding: 5px; border-image: initial;">Выезд мастера за МКАД
							<br>
						</td>
						<td class="table_rowA" st="" yle="text-align: right; padding: 5px;"
							style="border-image: initial;"><strong>+ 40 руб./км</strong></td>
					</tr>
				</tbody>
			</table>
			<p>
				Подробную информацию о стоимости услуг сервисного центра вы можете уточнить у нашего консультанта по
				телефону<a href="tel:+74951912618" class="shipping-payment__number"> +7 (495) 191-26-18</a>
			</p>

			<strong>
				Гарантия на выполненные работы и установленный материал 2 года!
			</strong>

			<p>
				Размещения заявок на ремонт в сервисные центры по всей России —
				<a href="tel:8(800)100-34-55" class="shipping-payment__number">8 (800) 100-34-55</a>
			</p>
		</div>
	</div>
</div>
