<div class="gallery">
	<!-- Slider main container -->
	<div class="swiper-container-main js-swiper-main">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide">
				<img src='{{src}}main-1.png' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Встраиваемый двухкамерный холодильник ECBN 6156
						</span>
						<span class="span span__big">
							Модель нового поколения BluPerformance с зоной свежести BioFresh, системой охлаждения NoFrost  и возможностью управления через смартфон SmartDevice
						</span>
						<a href="#" title="ECBN 6156" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<img src='{{src}}main-1.png' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Встраиваемый двухкамерный холодильник ECBN 6156
						</span>
						<span class="span span__big">
							Модель нового поколения BluPerformance с зоной свежести BioFresh, системой охлаждения NoFrost  и возможностью управления через смартфон SmartDevice
						</span>
<a href="#" title="ECBN 6156" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<img src='{{src}}main-1.png' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Встраиваемый двухкамерный холодильник ECBN 6156
						</span>
						<span class="span span__big">
							Модель нового поколения BluPerformance с зоной свежести BioFresh, системой охлаждения NoFrost  и возможностью управления через смартфон SmartDevice
						</span>
<a href="#" title="ECBN 6156" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<img src='{{src}}main-1.png' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Встраиваемый двухкамерный холодильник ECBN 6156
						</span>
						<span class="span span__big">
							Модель нового поколения BluPerformance с зоной свежести BioFresh, системой охлаждения NoFrost  и возможностью управления через смартфон SmartDevice
						</span>
<a href="#" title="ECBN 6156" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev swiper-button-main main_prev"></div>
		<div class="swiper-button-next swiper-button-main main_next"></div>

		<!-- If we need scrollbar -->
		<div class="swiper-scrollbar"></div>
	</div>
	<div class="gallery__items js-gallery__items">
		<div class="gallery__item js-gallery__item  closed">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="images/01.png" alt="">
					<div class="gallery__point" style="top: 380px;left: 95px;">
						<div class="gallery__description">
							Door sliding - («скользящая дверь/) - это система монтажа, при которой дверь холодильника с мебельной дверью
							соединена направляющими. При установке встраиваемых холодильников мебельная дверь крепится непосредственно к
							мебельной нише. При открывании или закрывании дверь ниши плавно двигается по направляющим.
						</div>
					</div>
					<div class="gallery__point" style="top: 13px;left: 170px;">
						<div class="gallery__description">
							Амортизирующий доводчик двери SoftSystem.
						</div>
					</div>
					<div class="gallery__point" style="top: 60px;left: 100px;">
						<div class="gallery__description">
							HolidayMode - выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае
							длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от
							образования посторонних запахов в пустой камере.
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<img src="images/03.png" alt="">
					<div class="gallery__point" style="bottom: 60px;left: 200px;">
						<div class="gallery__description">
							BiofreshPlus - обеспечивает еще большую функциональность и позволяет рационально использовать внутреннее
							пространство холодильника в зависимости от Ваших потребностей. Электронная система управления встроена в
							пластину,
							расположенную между холодильной и морозильной камерами. С ее помощью, например, можно установить значение
							температуры в верхнем контейнере 2°С, создав тем самым оптимальные условия для хранения рыбы. Одновременная
							установка низкого уровня влажности позволит сохранить рыбу свежей на максимально длительный срок, в то время
							как
							установка в другом контейнере высокого уровня влажности при температуре +6°С создаст оптимальные условия для
							хранения овощей и фруктов. Использование современных технологий позволяет устанавливать в верхнем контейнере
							секции BioFresh любое необходимое значение температуры. Для нижнего контейнера можно установить любой уровень
							влажности при сохранении уровня температуры около 0°С.
						</div>
					</div>
					<div class="gallery__point" style="top: 260px;left: 210px;">
						<div class="gallery__description">
							BiofreshPlus - обеспечивает еще большую функциональность и позволяет рационально использовать внутреннее

						</div>
					</div>
					<div class="gallery__point" style="top: 115px;left: 185px;">
						<div class="gallery__description">
							MagicEye - это абсолютно новый вариант панели управления холодильником, которая состоит из дисплея и клавиш
							управления. На дисплее отображается внутренний температурный режим каждой из камер холодильника. При желании
							можно
							изменить температуру камер, стоит только нажать нужные клавиши, и электроника сделает все за Вас.
						</div>
					</div>
					<div class="gallery__point" style="top: 260px;
			left: 180px;">
						<div class="gallery__description">
							FrostControl - эта функция нужна для того, чтобы продукты, хранимые в холодильнике, были безопасными и не
							портились. Особенно это становится важным, когда происходит длительное отключение электропитания холодильника.
							При
							этом холодильник «запоминает/ температурный режим, который был в камере на момент отключения и при повторном
							включении электричества воспроизводит ее заново. Для удобства пользователей в этой системе есть специальный
							дисплей с индикацией «nA/. После нажатия кнопки «Alarm/, в течение примерно одной минуты можно будет увидеть
							максимальное значение температурного режима в камере. Такая функция позволяет решить: стоит ли охлаждать или
							замораживать продукты заново или лучше уже сегодня подать на стол.
						</div>
					</div>
					<div class="gallery__point" style="top: 400px;
			left: 110px;">
						<div class="gallery__description">
							Календарь хранения замороженных продуктов - на подобных календарях можно записать вид хранимого продукта и срок
							его хранения. Эти карточки со списком замороженных продуктов крепятся на стенках или дверках секционных
							отделений
							морозильной камеры. На холодильниках класса Premium с электронным дисплеем используются электронные календари,
							на
							которых отображаются сведения о месте нахождения продукта, времени, когда он был куплен, а также об очередности
							потребления хранящихся в камере продуктов. Микропроцессор подает предупредительный сигнал, когда срок хранения
							истекает.
						</div>
					</div>
					<div class="gallery__point" style="top: 170px;
			left: 210px;">
						<div class="gallery__description">
							Clip-система - это маленькие карточки, которые крепятся съемными Clip-держатели на полках винного шкафа, со
							сведениями о хранящихся винах.
						</div>
					</div>

				</div>
			</div>
			<span class="button__open js-button__open"></span>
		</div>
		<div class="gallery__tablet">
			<div class="gallery__el">
				<a class="gallery__link" href="">
					<img src="{{src}}gallery-link_1.png" alt="">
					<div class="gallery__parent">
						<span class="gallery__article">Официальная гарантия</span>
						<span class="gallery__text">Гарантийный сервис Liebherr</span>
					</div>
				</a>
			</div>
			<div class="gallery__el">
				<a class="gallery__link" href="">
					<img src="{{src}}gallery-link_2.png" alt="">
					<div class="gallery__parent">
						<span class="gallery__article">Сервис и обслуживание</span>
						<span class="gallery__text">Об установке и подклчении</span>
					</div>

				</a>
			</div>
			<div class="gallery__el">
				<a class="gallery__link" href="">
					<img src="{{src}}gallery-link_3.png" alt="">
					<div class="gallery__parent">
						<span class="gallery__article">Глоссарий</span>
						<span class="gallery__text">Технологии компании Liebherr</span>
					</div>

				</a>
			</div>
		</div>

	</div>
</div>