<div class="breadcrumbs">
	<a href="#" class="breadcrumbs__link">Neff</a>
	<span class="breadcrumbs__sep">/</span>
	<span class="breadcrumbs__text">Инструкции</span>
</div>
<div class="instructions-main">
	<h1 class="title">
		Инструкции к товарам Neff
	</h1>
	<!-- /.instructions-main__title -->
	<div class="instructions-main__items">
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/microwave-neff.jpg" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="https://neff.ret-team.ru/neff/mikrovolnovye-pechi/" class="instructions-main__title">Инструкции
					для Микроволновые
					печи</a>
				<!-- /.instructions-main__title -->
				<a href="https://neff.ret-team.ru/neff/mikrovolnovye-pechi/" class="instructions-main__link">Смотреть
					все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/dishwasher-neff.jpg" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="https://neff.ret-team.ru/neff/posudomoechnye-mashiny/"
					class="instructions-main__title">Инструкции для Посудомоечные
					машины</a>
				<!-- /.instructions-main__title -->
				<a href="https://neff.ret-team.ru/neff/posudomoechnye-mashiny/" class="instructions-main__link">Смотреть
					все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/hob-neff.jpg" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="https://gr-russia.ru/catalog/group/Neff-spa/" class="instructions-main__title">Инструкции для
					Варочные
					панели</a>
				<!-- /.instructions-main__title -->
				<a href="https://gr-russia.ru/catalog/group/tualetnaya-komnata/"
					class="instructions-main__link">Смотреть
					все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/oven-neff.jpg" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="https://neff.ret-team.ru/neff/elektricheskie-plity-i-duhovye-shkafy/"
					class="instructions-main__title">Инструкции для Духовые шкафы</a>
				<!-- /.instructions-main__title -->
				<a href="https://neff.ret-team.ru/neff/elektricheskie-plity-i-duhovye-shkafy/"
					class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/refrizherator-neff.jpg" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="https://neff.ret-team.ru/neff/holodilniki/" class="instructions-main__title">Инструкции для
					Холодильники</a>
				<!-- /.instructions-main__title -->
				<a href="https://neff.ret-team.ru/neff/holodilniki/" class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/cofemashina-neff.jpg" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="https://neff.ret-team.ru/neff/kofemashiny/" class="instructions-main__title">Инструкции для
					Кофемашины</a>
				<!-- /.instructions-main__title -->
				<a href="https://neff.ret-team.ru/neff/kofemashiny/" class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/extractor-neff.jpg" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="https://neff.ret-team.ru/neff/kukhonnye-vytyazhki/" class="instructions-main__title">Инструкции
					для Кухонные
					вытяжки</a>
				<!-- /.instructions-main__title -->
				<a href="https://neff.ret-team.ru/neff/kukhonnye-vytyazhki/" class="instructions-main__link">Смотреть
					все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/vacuumator-neff.jpg" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="https://neff.ret-team.ru/neff/vakuumatory/" class="instructions-main__title">Инструкции для
					Вакууматоры</a>
				<!-- /.instructions-main__title -->
				<a href="https://neff.ret-team.ru/neff/vakuumatory/" class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/washing-mashine-neffjpg.jpg" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="https://neff.ret-team.ru/neff/stiralnye-mashiny/" class="instructions-main__title">Инструкции
					для Стиральные
					машины</a>
				<!-- /.instructions-main__title -->
				<a href="https://neff.ret-team.ru/neff/stiralnye-mashiny/" class="instructions-main__link">Смотреть
					все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/install.jpg" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="https://neff.ret-team.ru/neff/aksessuary/" class="instructions-main__title">Инструкции для
					Аксессуары</a>
				<!-- /.instructions-main__title -->
				<a href="https://neff.ret-team.ru/neff/aksessuary/" class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->

	</div>
	<!-- /.instructions-main__items -->
</div>
