<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">

		<div class="breadcrumbs">
			<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem"><a href="/" title="Главная" itemprop="item"><span
							itemprop="name">Neff</span></a>
					<meta itemprop="position" content="1">
				</div>
				<div class="breadcrumbs__sep">»</div>
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem"><span itemprop="name">Карта сайта</span><a itemprop="item"
						href="#" title="Карта сайта"></a>
					<meta itemprop="position" content="2">
				</div>
			</div>
		</div>

		<h1 class="title">Карта сайта</h1>
		<div class="site-map">
			<div class="site-map__items">
				<div class="site-map__title">
					Категории
				</div>
				<!-- /.site-map__title -->
				<div class="site-map__list">
					<ul class="site-map__inner js-site-map__inner">
						Духовые шкафы
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
					</ul>
					<!-- /.site-map__inner -->
					<ul class="site-map__inner js-site-map__inner">
						Варочные панели
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
					</ul>
					<!-- /.site-map__inner -->
					<ul class="site-map__inner js-site-map__inner">
						Вытяжки
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
					</ul>
					<!-- /.site-map__inner -->
					<ul class="site-map__inner js-site-map__inner">
						Мытье посуды
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
					</ul>
					<!-- /.site-map__inner -->
					<ul class="site-map__inner js-site-map__inner">
						Компактные приборы
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
					</ul>
					<!-- /.site-map__inner -->
					<ul class="site-map__inner js-site-map__inner">
						Хранение продуктов
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
					</ul>
					<!-- /.site-map__inner -->
					<ul class="site-map__inner js-site-map__inner">
						Стирка и сушка
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
					</ul>
					<!-- /.site-map__inner -->
					<ul class="site-map__inner js-site-map__inner">
						Аксессуары
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							Стиральные машины Neff серебристого цвета
						</li>
						<!-- /.site-map__link -->
					</ul>
					<!-- /.site-map__inner -->

				</div>
				<!-- /.site-map__list -->
			</div>
			<!-- /.site-map__items -->
			<div class="site-map__items">
				<div class="site-map__title">
					Информация
				</div>
				<!-- /.site-map__title -->
				<div class="site-map__list">
					<div class="site-map__category">
						Доставка и оплата
					</div>
					<!-- /.site-map__category -->
					<div class="site-map__category">
						Глоссарий
					</div>
					<!-- /.site-map__category -->
					<div class="site-map__category">
						Сервис
					</div>
					<!-- /.site-map__category -->
					<div class="site-map__category">
						Видео
					</div>
					<!-- /.site-map__category -->
					<div class="site-map__category">
						Статьи

					</div>
					<!-- /.site-map__category -->
					<div class="site-map__category">
						Сервисные центры Neff

					</div>
					<!-- /.site-map__category -->
					<div class="site-map__category">
						Возврат и обмен

					</div>
					<!-- /.site-map__category -->
					<div class="site-map__category">
						Помощь

					</div>
					<!-- /.site-map__category -->
					<div class="site-map__category">
						Контакты
					</div>
					<!-- /.site-map__category -->
				</div>
				<!-- /.site-map__list -->
			</div>
			<!-- /.site-map__items -->
		</div>
		<!-- /.site-map -->
	</div>
</div>
