<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">

		<div class="breadcrumbs">
			<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem"><a href="/" title="Главная" itemprop="item"><span
							itemprop="name">Neff</span></a>
					<meta itemprop="position" content="1">
				</div>
				<div class="breadcrumbs__sep">»</div>
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem"><span itemprop="name">Карта сайта</span><a itemprop="item"
						href="#" title="Карта сайта"></a>
					<meta itemprop="position" content="2">
				</div>
			</div>
		</div>

		<h1 class="title">Карта сайта</h1>
		<div class="site-map">
			<div class="site-map__items">
				<div class="site-map__title">
					Категории
				</div>
				<!-- /.site-map__title -->
				<div class="site-map__list">
					<ul class="site-map__inner js-site-map__inner">
						<li><a href="#"> Духовые шкафы</a></li>
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
					</ul>
					<!-- /.site-map__inner -->
					<ul class="site-map__inner js-site-map__inner">
						<li><a href="#">Варочные панели</a></li>
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
					</ul>
					<!-- /.site-map__inner -->
					<ul class="site-map__inner js-site-map__inner">
					<li>	<a href="#">Вытяжки</a></li>
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
					</ul>
					<!-- /.site-map__inner -->
					<ul class="site-map__inner js-site-map__inner">
						<li><a href="#"> Мытье посуды</a></li>
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
					</ul>
					<!-- /.site-map__inner -->
					<ul class="site-map__inner js-site-map__inner">
						<li><a href="#">Компактные приборы</a></li>
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
					</ul>
					<!-- /.site-map__inner -->
					<ul class="site-map__inner js-site-map__inner">
					<li>	<a href="#">Хранение продуктов</a></li>
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
					</ul>
					<!-- /.site-map__inner -->
					<ul class="site-map__inner js-site-map__inner">
					<li>	<a href="#">Стирка и сушка</a></li>
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
					</ul>
					<!-- /.site-map__inner -->
					<ul class="site-map__inner js-site-map__inner">
						<li><a href="#"> Аксессуары</a></li>
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
						<li class="site-map__link">
							<a href="#">Стиральные машины Neff серебристого цвета</a>
						</li>
						<!-- /.site-map__link -->
					</ul>
					<!-- /.site-map__inner -->

				</div>
				<!-- /.site-map__list -->
			</div>
			<!-- /.site-map__items -->
			<div class="site-map__items">
				<div class="site-map__title">
					Информация
				</div>
				<!-- /.site-map__title -->
				<div class="site-map__list">
					<div class="site-map__category">

						<a href="#"> Доставка и оплата</a>
					</div>
					<!-- /.site-map__category -->
					<div class="site-map__category">
						<a href="#">Глоссарий</a>

					</div>
					<!-- /.site-map__category -->
					<div class="site-map__category">
						<a href="#">Сервис</a>

					</div>
					<!-- /.site-map__category -->
					<div class="site-map__category">
						<a href="#">Видео</a>

					</div>
					<!-- /.site-map__category -->
					<div class="site-map__category">
						<a href="#">Статьи</a>

					</div>
					<!-- /.site-map__category -->
					<div class="site-map__category">
						<a href="#">Сервисные центры Neff</a>

					</div>
					<!-- /.site-map__category -->
					<div class="site-map__category">
						<a href="#"> Возврат и обмен</a>

					</div>
					<!-- /.site-map__category -->
					<div class="site-map__category">
						<a href="#">Помощь</a>

					</div>
					<!-- /.site-map__category -->
					<div class="site-map__category">
						<a href="#"> Контакты</a>

					</div>
					<!-- /.site-map__category -->
				</div>
				<!-- /.site-map__list -->
			</div>
			<!-- /.site-map__items -->
		</div>
		<!-- /.site-map -->
	</div>
</div>
