

<nav class="menu-vert">
	<ul class="menu-vert__list">
		<li class="menu-vert__item">
			<a title="Индукционные" href="#" class="menu-vert__link">
					Индукционные
			</a>
			<!-- /.menu-vert__link -->
		</li>
		<!-- /.menu-vert__item -->
		<li class="menu-vert__item active">
			<a title="Газовые" href="#" class="menu-vert__link">
					Газовые
			</a>
			<!-- /.menu-vert__link -->
		</li>
		<!-- /.menu-vert__item -->
		<li class="menu-vert__item">
			<a title="Электрические" href="#" class="menu-vert__link">
					Вытяжки с плоским выдвижным экраном
			</a>
			<!-- /.menu-vert__link -->
		</li>
		<!-- /.menu-vert__item -->
		<li class="menu-vert__item">
			<a title="Домино" href="#" class="menu-vert__link">
					Домино
			</a>
			<!-- /.menu-vert__link -->
		</li>
		<!-- /.menu-vert__item -->
		<li class="menu-vert__item">
			<a title="Аксессуары" href="#" class="menu-vert__link">
					Аксессуары
			</a>
			<!-- /.menu-vert__link -->
		</li>
		<!-- /.menu-vert__item -->

	</ul>
	<!-- /.menu-vert__list -->
</nav>
<!-- /.menu-vert -->
