<div class="sidebar">
	<a href="#" class="marking">
		<div class="marking__pic">
			<img src="images/marking.png" alt="">
			<div class="marking__desc">ICBN 3376-21</div>
		</div>
		<div class="marking__item">
			<div class="marking__title">Узнай свойства <br> своего холодильника</div>
			<div class="marking__subtitle">Определи параметры по маркировке</div>
		</div>
	</a>
	<div class="upsale swiper-container-upsale js-container-upsale">
		<span class="upsale__title">Аксессуары для</span>
		<span class="upsale__subtitle">холодильников Liebherr</span>
		<div class="upsale__items swiper-wrapper">
			<div class="upsale__item swiper-slide">
				<div class="upsale__pic">
					<a class=upsale__parent href="#"><img src="images/upsale.jpg"
							srcset="images/upsale@2x.jpg 2x,images/upsale@3x.jpg 3x" class="upsale__img"></a>
				</div>
				<div class="upsale__aside">
					<div class="upsale__text">
						<a href="#" class="upsale__description">Влажные салфетки Topperr для изделий из
							нержавеющей
							стали
							3622
						</a>
					</div>
					<div class="upsale__info">
						<span class="upsale__sale">1 100<i>руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax
							class="upsale__link upsale__link_two"><b>купить</b></a>
					</div>
				</div>
			</div>
			<div class="upsale__item swiper-slide">
				<div class="upsale__pic">
					<a class=upsale__parent href="#"><img src="images/upsale.jpg"
							srcset="images/upsale@2x.jpg 2x,images/upsale@3x.jpg 3x" class="upsale__img"></a>
				</div>
				<div class="upsale__aside">
					<div class="upsale__text">
						<a href="#" class="upsale__description">
							Скребок для чистки стеклокерамических поверхностей
							Topperr SC1
						</a>
					</div>
					<div class="upsale__info">
						<span class="upsale__sale">1 100<i>руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax
							class="upsale__link upsale__link_two"><b>купить</b></a>
					</div>
				</div>
			</div>
			<div class="upsale__item swiper-slide">
				<div class="upsale__pic">
					<a class=upsale__parent href="#"><img src="images/upsale.jpg"
							srcset="images/upsale@2x.jpg 2x,images/upsale@3x.jpg 3x" class="upsale__img"></a>
				</div>
				<div class="upsale__aside">
					<div class="upsale__text">
						<a href="#" class="upsale__description">Набор для ухода за кухонными плитами Topperr
							3415</a>
					</div>
					<div class="upsale__info">
						<span class="upsale__sale">1 100<i>руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax
							class="upsale__link upsale__link_two"><b>купить</b></a>
					</div>
				</div>
			</div>
			<div class="upsale__item swiper-slide">
				<div class="upsale__pic">
					<a class=upsale__parent href="#"><img src="images/upsale.jpg"
							srcset="images/upsale@2x.jpg 2x,images/upsale@3x.jpg 3x" class="upsale__img"></a>
				</div>
				<div class="upsale__aside">
					<div class="upsale__text">
						<a href="#" class="upsale__description">Влажные салфетки Topperr для изделий из
							нержавеющей
							стали
							3622
						</a>

					</div>
					<div class="upsale__info">
						<span class="upsale__sale">1 100<i>руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax
							class="upsale__link upsale__link_two"><b>купить</b></a>
					</div>
				</div>
			</div>
			<div class="upsale__item swiper-slide">
				<div class="upsale__pic">
					<a class=upsale__parent href="#"><img src="images/upsale.jpg"
							srcset="images/upsale@2x.jpg 2x,images/upsale@3x.jpg 3x" class="upsale__img"></a>
				</div>
				<div class="upsale__aside">
					<div class="upsale__text">
						<a href="#" class="upsale__description">
							Скребок для чистки стеклокерамических поверхностей
							Topperr SC1
						</a>
					</div>
					<div class="upsale__info">
						<span class="upsale__sale">1 100<i>руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax
							class="upsale__link upsale__link_two"><b>купить</b></a>
					</div>
				</div>
			</div>
			<div class="upsale__item swiper-slide">
				<div class="upsale__pic">
					<a class=upsale__parent href="#"><img src="images/upsale.jpg"
							srcset="images/upsale@2x.jpg 2x,images/upsale@3x.jpg 3x" class="upsale__img"></a>
				</div>
				<div class="upsale__aside">
					<div class="upsale__text">
						<a href="#" class="upsale__description">Набор для ухода за кухонными плитами Topperr
							3415</a>
					</div>
					<div class="upsale__info">
						<span class="upsale__sale">1 100<i>руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax
							class="upsale__link upsale__link_two"><b>купить</b></a>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-pagination-upsale"></div>
		<div class="swiper-button-prev upsale__prev"></div>
		<div class="swiper-button-next upsale__next"></div>
	</div>
	<div class="download-catalogs">
		<div class="download-catalogs__title">Скачать каталоги</div>
		<div
			class="download-catalogs__items swiper-container js-download-catalogs swiper-container-horizontal swiper-container-multirow">
			<div class="swiper-wrapper" style="width: 296px; transform: translate3d(0px, 0px, 0px);">
				<div class="download-catalogs__item swiper-slide swiper-slide-active" id="bx_651765591_6294"
					style="order: 0; width: 272px; margin-right: 24px;" data-swiper-column="0" data-swiper-row="0">
					<a href="/upload/iblock/16a/16a2326968a0dbc67bb4c01b5e7fcb38.pdf" title="Каталог Neff 2019"
						class="download-catalogs__link" target="_blank">
						<div class="download-catalogs__pic">
							<img class=" lazyloaded"
								data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/b8a/74_74_0/b8a378ee2bfc038d97b29d6b531d1817.jpg"
								alt="Каталог Neff 2019"
								src="https://neff.ret-team.ru/upload/resize_cache/iblock/b8a/74_74_0/b8a378ee2bfc038d97b29d6b531d1817.jpg">
						</div>
						<div class="download-catalogs__text">
							Каталог Neff 2019 <i>pdf, 19.19 MB</i>
						</div>
					</a>
				</div>

				<div class="download-catalogs__item swiper-slide swiper-slide-next" id="bx_651765591_6295"
					style="-webkit-box-ordinal-group: 1; order: 1; margin-top: 24px; width: 272px; margin-right: 24px;"
					data-swiper-column="0" data-swiper-row="1">
					<a href="/upload/iblock/ebf/ebfb3c211106b503f9bd405980252450.pdf" title="Каталог Neff 2018"
						class="download-catalogs__link" target="_blank">
						<div class="download-catalogs__pic">
							<img class="loaded lazyloaded"
								data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/1a7/74_74_0/1a72a04db53194f7932dcb4c7489b71c.jpg"
								alt="Каталог Neff 2018"
								src="https://neff.ret-team.ru/upload/resize_cache/iblock/1a7/74_74_0/1a72a04db53194f7932dcb4c7489b71c.jpg"
								data-was-processed="true">
						</div>
						<div class="download-catalogs__text">
							Каталог Neff 2018 <i>pdf, 39.37 MB</i>
						</div>
					</a>
				</div>

			</div>
			<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
		</div>
	</div>
	<div class="articles swiper-container">
		<span class="articles__title">Может быть полезно</span>
		<a href="#" class="articles__link">Посмотреть все статьи</a>
		<div class="articles__items swiper-wrapper">
			<div class="articles__item swiper-slide">
				<a class="articles__pic" href="#"><img src="images/articles_1.jpg"
						srcset="images/articles_1@2x.jpg 2x,images/articles_1@3x.jpg 3x" class="articles__img"></a>
				<a href="#" class="articles__text">Как правильно разморозить холодильник Либхер</a>
				<span class="articles__date">25 марта 2018</span>
			</div>
			<div class="articles__item swiper-slide">
				<a class="articles__pic" href="#"> <img src="images/articles_2.jpg"
						srcset="images/articles_2@2x.jpg 2x,images/articles_2@3x.jpg 3x" class="articles__img"></a>
				<a href="#" class="articles__text">Преимущества встраиваемых микроволновых печей Liebherr </a>
				<span class="articles__date">25 марта 2018</span>
			</div>
			<div class="articles__item swiper-slide">
				<a class="articles__pic" href="#"><img src="images/articles_3.jpg"
						srcset="images/articles_3@2x.jpg 2x,images/articles_3@3x.jpg 3x" class="articles__img"></a>
				<a href="#" class="articles__text">Сравнение холодильника Liebherr CNbs 4015 Comfort NoFrost и
					Liebherr CN
					4813</a>
				<span class="articles__date">25 марта 2018</span>
			</div>
		</div>
		<div class="swiper-pagination-articles articles__pagination"></div>
	</div>
	<div class="documentation">
		<span class="documentation__title">Инструкции для Liebherr</span>

		<a href="/upload/iblock/026/026fe8ad22c6a0e4e69af89c1cab2347.jpg" title="Схема встраивания" target="_blank"
			class="doc_loading doc_loading_first">
			<i class="icon_doc"></i>
			<span>Варочная панель Neff T29TA79N0, схема встраивания</span>
			jpg, 159.52 KB </a>

		<a href="/upload/iblock/083/08394cb9d4738f0682242f34e1736198.pdf" title="Инструкция на русском языке"
			target="_blank" class="doc_loading doc_loading_first">
			<i class="icon_doc"></i>
			<span>Индукционная варочная панель Neff T55T53X2, инструкция на русском языке</span>
			pdf, 1.11 MB </a>

		<a href="/upload/iblock/c2a/c2a851f56e8f09724a5e9e6407516cc6.jpg" title="Схема для встраивания" target="_blank"
			class="doc_loading doc_loading_first">
			<i class="icon_doc"></i>
			<span>Варочная панель Neff T26CA52S0, схема для встраивания</span>
			jpg, 71.18 KB </a>

		<a href="/technical-documentation/" title="Посмотреть все инструкции" class="documentation__link">Посмотреть все
			инструкции</a>
	</div>
	<ul class="work-link">

		<li class="work-link__item">
			<a href="/guarantee/#services-list" title="Сервисные центры" class="work-link__a">Сервисные центры</a>
		</li>

		<li class="work-link__item">
			<a href="/technical-documentation/" title="Техническая документация" class="work-link__a">Техническая
				документация</a>
		</li>

		<li class="work-link__item">
			<a href="/guarantee/" title="Гарантия Neff" class="work-link__a">Гарантия Neff</a>
		</li>

	</ul>
	<div class="yandex">
		<div class="yandex__inner">
			<div class="yandex__logo">
				<img src="/mockup/templates/main/build/images/ylogo.png" alt="" class="yandex__img">
			</div>
			<div class="yandex__ratings">
				<img src="/mockup/templates/main/build/images/5-stars.png" alt="">
			</div>
			<a href="https://market.yandex.ru/shop/394451/reviews/add?retpath=https%3A%2F%2Fmarket.yandex.ru%2Fshop%2F394451%2Freviews&amp;track=rev_sh"
				target="_blank" class="yandex__button">Оставить отзыв</a>
			<a href=" https://market.yandex.ru/shop/394451/reviews" target="_blank" class="yandex__button">Читать все
				отзывы</a>
		</div>
	</div>
	<div class="quality">
		<span class="quality__title">Контроль качества</span>
		<span class="quality__text">Номер для претензий и предложений:</span>
		<a href="tel:+74951201196" class="quality__number">+7 (495) 120-11-96</a>
		<span class="quality__worktime">с 9:00 до 18:00</span>
		<a href="#" class="quality__button" id="js-quality-opener">Написать</a>
	</div>
</div>
