<div class="content-top" style="background-image: url(https://neff.ret-team.ru/upload/iblock/26e/26efdefae53ba0488552ee63889b85b0.jpg);">
	<div class="content-top__inner">
		<div class="container">

			<div class="breadcrumbs">
				<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
					<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
						itemtype="http://schema.org/ListItem"><a href="/" title="Главная" itemprop="item"><span
								itemprop="name">Neff</span></a>
						<meta itemprop="position" content="1">
					</div>
					<div class="breadcrumbs__sep">»</div>
					<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
						itemtype="http://schema.org/ListItem"><span itemprop="name">Варочные панели</span><a
							itemprop="item" href="/neff/varochnye-paneli/" title="Варочные панели"></a>
						<meta itemprop="position" content="2">
					</div>
				</div>
			</div>
			<div class="content-top__aside">
				<h1 class="page__title content-top__title content-top__title_top">
					Варочные панели Neff </h1>

				<div class="page__title content-top__title content-top__title_bottom">

					Варочные панели Neff выпускаются в&nbsp;широком ассортименте&nbsp;— газовые, индукционные
					и&nbsp;Hi-Light. Есть возможность подобрать прибор для любой кухни&nbsp;— 2, 3, 4&nbsp;или
					5&nbsp;конфорок. Отделка края фаской или рамкой из&nbsp;нержавеющей стали обеспечивает удобство
					монтажа.

				</div>
			</div>

		</div>

	</div>
</div>
