<div class="breadcrumbs">
	<a href="#" class="breadcrumbs__link">Liebherr</a>
	<span class="breadcrumbs__sep">/</span>
	<span class="breadcrumbs__text">Оформление заказа</span>
</div>
<h1 class="title">
	Корзина
</h1>

<div class="basket">

	<div class="js-mindbox_cart"></div>

	<div class="basket__inner order-form">
		<div id="order_form_div" class="order-checkout">
			<noscript>
				<div class="errortext">Для оформления заказа необходимо включить JavaScript. По-видимому, JavaScript
					либо не поддерживается браузером, либо отключен. Измените настройки браузера и затем <a
						href="">повторите попытку</a>.</div>
			</noscript>

			<div class="bx_order_make">

				<form action="/cart/" method="POST" name="ORDER_FORM" id="ORDER_FORM" class="form__payment js-form"
					enctype="multipart/form-data">
					<input type="hidden" name="sessid" id="sessid" value="304077e4ff4bde7af457fb32064977f4">
					<div id="order_form_content">
						<!-- begin basket-info -->
						<div class="order-form__table table">
							<div class="table__title">
								<span class="title__span name">Наименование</span>
								<span class="title__span how-many">Количество, шт.</span>
								<span class="title__span price">Цена</span>
								<span class="title__span amount">Сумма</span>
								<span class="title__span delete">Удалить</span>
							</div>

							<div class="table__items js-product__row">
								<div class="table__item name">
									<a href="/neff/complects/komplekt-neff-varochnaya-panel-t46bt73n2-dukhovoy-shkaf-c17mr02n0.html"
										title="Комплект Neff варочная панель T46BT73N2 + духовой шкаф C17MR02N0"
										class="table__link">
										<img data-src="https://nf-rus.ru/upload/resize_cache/iblock/a5f/120_120_1/a5f4af782265870300f96e2bcd4bf0b5.jpg"
											data-srcset="https://nf-rus.ru/upload/resize_cache/iblock/a5f/240_240_1/a5f4af782265870300f96e2bcd4bf0b5.jpg 2x,https://nf-rus.ru/upload/resize_cache/iblock/a5f/360_360_1/a5f4af782265870300f96e2bcd4bf0b5.jpg 3x"
											alt="Комплект Neff варочная панель T46BT73N2 + духовой шкаф C17MR02N0"
											class="special-offers__img lazyloaded"
											srcset="https://nf-rus.ru/upload/resize_cache/iblock/a5f/240_240_1/a5f4af782265870300f96e2bcd4bf0b5.jpg 2x,https://nf-rus.ru/upload/resize_cache/iblock/a5f/360_360_1/a5f4af782265870300f96e2bcd4bf0b5.jpg 3x"
											src="https://nf-rus.ru/upload/resize_cache/iblock/a5f/120_120_1/a5f4af782265870300f96e2bcd4bf0b5.jpg">
									</a>
									<div class="table__text">
										<a href="/neff/complects/komplekt-neff-varochnaya-panel-t46bt73n2-dukhovoy-shkaf-c17mr02n0.html"
											title="Комплект Neff варочная панель T46BT73N2 + духовой шкаф C17MR02N0"
											class="special-offers__text">Комплект Neff варочная панель T46BT73N2 +
											духовой шкаф C17MR02N0</a>
										<span class="catalog__presence">В наличии</span>
									</div>
								</div>
								<div class="table__item how-many js-change">
									<span class="item__title">Количество, шт</span>
									<a href="" class="decr qt_minus js-minus">-</a>
									<input type="text" data-basketid="4959" data-price="159980" name=""
										quantity_4959"="" value="2" class="qt_num js-input_number">
									<a href="" class="incr qt_plus js-plus">+</a>
								</div>
								<div class="table__item price">
									<span class="item__title">Цена</span>
									<strong class="strong__price">159 980 руб.</strong>
								</div>
								<div class="table__item amount">
									<span class="item__title">Сумма</span>
									<strong class="strong__amount js-sum">319 960 руб.</strong>
								</div>
								<a href="#" class="delete__table js-product__del" data-id="4959"
									data-prodid="19433">Удалить</a>
							</div>

							<div class="table__items js-product__row">
								<div class="table__item name">
									<a href="/neff/holodilniki/dvukhkamernye-kholodilniki/kholodilno-morozilnaya-kombinatsiya-neff-ki5872f20r.html"
										title="Холодильно-морозильная комбинация Neff KI5872F20R" class="table__link">
										<img data-src="https://nf-rus.ru/upload/resize_cache/iblock/c8c/120_120_1/c8c229c01a45f481ab35214f8c1e55fd.jpg"
											data-srcset="https://nf-rus.ru/upload/resize_cache/iblock/c8c/240_240_1/c8c229c01a45f481ab35214f8c1e55fd.jpg 2x,https://nf-rus.ru/upload/resize_cache/iblock/c8c/360_360_1/c8c229c01a45f481ab35214f8c1e55fd.jpg 3x"
											alt="Холодильно-морозильная комбинация Neff KI5872F20R"
											class="special-offers__img lazyloaded"
											srcset="https://nf-rus.ru/upload/resize_cache/iblock/c8c/240_240_1/c8c229c01a45f481ab35214f8c1e55fd.jpg 2x,https://nf-rus.ru/upload/resize_cache/iblock/c8c/360_360_1/c8c229c01a45f481ab35214f8c1e55fd.jpg 3x"
											src="https://nf-rus.ru/upload/resize_cache/iblock/c8c/120_120_1/c8c229c01a45f481ab35214f8c1e55fd.jpg">
									</a>
									<div class="table__text">
										<a href="/neff/holodilniki/dvukhkamernye-kholodilniki/kholodilno-morozilnaya-kombinatsiya-neff-ki5872f20r.html"
											title="Холодильно-морозильная комбинация Neff KI5872F20R"
											class="special-offers__text">Холодильно-морозильная комбинация Neff
											KI5872F20R</a>
										<span class="catalog__presence">В наличии</span>
									</div>
								</div>
								<div class="table__item how-many js-change">
									<span class="item__title">Количество, шт</span>
									<a href="" class="decr qt_minus js-minus">-</a>
									<input type="text" data-basketid="4963" data-price="74990" name="" quantity_4963"=""
										value="7" class="qt_num js-input_number">
									<a href="" class="incr qt_plus js-plus">+</a>
								</div>
								<div class="table__item price">
									<span class="item__title">Цена</span>
									<strong class="strong__price">74 990 руб.</strong>
								</div>
								<div class="table__item amount">
									<span class="item__title">Сумма</span>
									<strong class="strong__amount js-sum">524 930 руб.</strong>
								</div>
								<a href="#" class="delete__table js-product__del" data-id="4963"
									data-prodid="3971">Удалить</a>
							</div>

							<div class="table__total">
								<div class="form__row basket-form__field_present">
									<select class="js-basket_change-lift BadPols" required="" name="#" id="#" size="1">
										<option value="">Выбрать подарок</option>
										<option value="Утюг Bosch TDA 2610 цена 3500">Утюг Bosch TDA 2610 цена 3500
										</option>
										<option value="		Тостер Bosch TAT6A003 цена 4500">
											Тостер Bosch TAT6A003 цена 4500
										</option>
										<option value="Пылесос Bosch BBH216RIB цена 8470">
											Пылесос Bosch BBH216RIB цена 8470
										</option>
										<option value="Мясорубка Bosch MFW 3630I цена 7200">
											Мясорубка Bosch MFW 3630I цена 7200
										</option>
										<option value="Кофемашина Bosch TAS6004 Tassimo цена 7990">
											Кофемашина Bosch TAS6004 Tassimo цена 7990
										</option>
										<option value="Кухонный комбайн Bosch MUM 4657 цена 9720">
											Кухонный комбайн Bosch MUM 4657 цена 9720
										</option>
										<option value="Обсудить подарок с менеджером">
											Обсудить подарок с менеджером
										</option>
									</select>
									<!-- <label class="checkbox checkbox_oferta js-checkbox">
										<input type="checkbox" required="" name="confirm"
											class="checkbox__input js-check" value="Y">
										<span class="checkbox__icon js-check_icon"></span>
										<span class="checkbox__text">Выбрать подарок</span>
									</label> -->
								</div> Итого:
								<strong class="js-sum_all">844 890 руб.</strong>
							</div>

						</div>

						<!-- end basket-table -->

						<span style="display:none;">
							<input type="text" name="PERSON_TYPE" value="1">
							<input type="text" name="PERSON_TYPE_OLD" value="1">
						</span>

						<div class="border"></div>

						<!-- begin basket-form -->
						<div class="js-basket_props">
							<span class="form__title">Доставка <a class="delivery_terms" href="/delivery-and-payment/"
									target="_blank">Условия доставки<i></i></a></span>

							<div class="form__row ">

								<label>Ваше имя <span class="sof-req">*</span></label>

								<input type="text" maxlength="250" class="basket-form__input  " size="" value=""
									name="ORDER_PROP_1" id="ORDER_PROP_1">

							</div>

							<div class="form__row ">

								<label>Телефон <span class="sof-req">*</span></label>

								<input type="tel" maxlength="250" class="basket-form__input js-phone_mask " size=""
									value="" name="ORDER_PROP_2" id="ORDER_PROP_2" im-insert="true" required="">

							</div>

							<div class="form__row ">

								<label>E-mail <span class="sof-req">*</span></label>

								<input type="text" maxlength="250" class="basket-form__input typeEmail " size=""
									value="" name="ORDER_PROP_3" id="ORDER_PROP_3">

							</div>

							<div class="form__row ">

								<label>Желаемая дата доставки </label>

								<input type="text" maxlength="250"
									class="basket-form__input js-datapicker noCheck hasDatepicker" size="" value=""
									name="ORDER_PROP_4" id="ORDER_PROP_4">

							</div>

							<div class="form__row basket-form__field_address">

								<label>Адрес доставки <span class="sof-req">*</span></label>

								<textarea rows="4" cols="40" name="ORDER_PROP_5" id="ORDER_PROP_5"></textarea>

							</div>

							<div class="form__row basket-form__field_lift">

								<label>Лифт </label>

								<select class="js-basket_change-lift" name="ORDER_PROP_6" id="ORDER_PROP_6" size="1">
									<option value="BIG" selected="">Грузовой</option>
									<option value="SMALL">Пассажирский</option>
									<option value="NO">Нет</option>
								</select>

							</div>

							<div class="form__row js-basket_floor">

								<label>Этаж </label>

								<input type="text" maxlength="2"
									class="basket-form__input basket-form__input_small noCheck" size="" value=""
									name="ORDER_PROP_7" id="ORDER_PROP_7">

							</div>

							<input type="hidden" value="" name="ORDER_PROP_8" class="noCheck js-track_sid">
							<input type="hidden" value="" name="ORDER_PROP_9" class="noCheck js-track_uuid">
							<input type="hidden"
								value="ret-team.bitrix24.ru|organic|PC|unknown|unknown|ret-team.bitrix24.ru"
								name="ORDER_PROP_10" class="noCheck js-bicontent">

							<div class="form__row">

								<label>Комментарий к заказу</label>
								<textarea name="ORDER_DESCRIPTION" id="ORDER_DESCRIPTION" cols="40" rows="4"
									class="noCheck"></textarea>

							</div>

						</div>

						<div class="hide">

							<div class="ordering__payment">
								<h2 class="ordering_heading">Выберите способ оплаты</h2>
								<div class="ordering__payment-list">

									<label class="ordering__payment-label" for="ID_PAY_SYSTEM_ID_2"
										onclick="BX('ID_PAY_SYSTEM_ID_2').checked=true; changePaySystem();">

										<input type="radio" id="ID_PAY_SYSTEM_ID_2" name="PAY_SYSTEM_ID"
											class="ordering__payment-input" value="2" checked="checked">

										<div class="ordering__payment-item">
											<img src="/tpl/images/paysystem/cash.svg" alt="Наличный расчет"
												class="ordering__payment-icon">
											<span class="ordering__payment-text">Наличный расчет</span>
											<div class="ordering__payment-circle"></div>
										</div>
									</label>

								</div>
							</div>
						</div>

						<div class="hide">

							<div class="basket__title">Выберите удобный способ доставки</div>
							<div class="basket-checkbox">
								<div class="basket-checkbox__inner">

									<input type="hidden" class="noCheck" name="BUYER_STORE" id="BUYER_STORE" value="0">
									<div class="bx_section">

										<div class="basket-checkbox__item"
											onclick="BX('ID_DELIVERY_ID_2').checked=true;submitForm();">
											<label class="basket-checkbox__label">
												<div class="basket-checkbox__cell">
													<input type="radio" id="ID_DELIVERY_ID_2" name="DELIVERY_ID"
														value="2" checked="" class="basket-checkbox__input"
														onclick="submitForm();">
													<div class="basket-checkbox__icon"></div>
												</div>
												<div class="basket-checkbox__cell">
													<img src="/local/templates/nf_main/components/bitrix/sale.order.ajax/basket/images/logo-default-d.gif"
														alt="" class="basket-checkbox__pic">
												</div>
												<div class="basket-checkbox__cell">
													<div class="basket-checkbox__text">
														Доставка по Москве и Московской области </div>
												</div>
											</label>
										</div>

										<div class="clear"></div>
									</div>

								</div>
							</div>
						</div>

					</div>

					<div class="form__button js-ecom_basket-stepone">

						<label class="checkbox checkbox_oferta js-checkbox">
							<input type="checkbox" name="confirm" class="checkbox__input js-check" checked="checked"
								value="Y">
							<span class="checkbox__icon js-check_icon"></span>
							<span class="checkbox__text">Согласен с <a href="/personal-data/"
									target="_blank">использованием персональных данных</a> для обработки
								обращения</span>
						</label>

						<input type="hidden" name="confirmorder" id="confirmorder" value="Y">
						<input type="hidden" name="profile_change" id="profile_change" value="N">
						<input type="hidden" name="is_ajax_post" id="is_ajax_post" value="Y">
						<input type="hidden" name="json" value="Y">
						<input type="submit" id="ORDER_CONFIRM_BUTTON" class="js-basket__go basket-form__submit"
							value="Оформить заказ">

					</div>

					<span class="copyright">* — поля помеченные звездочкой обязательны к заполнению</span>
					<span class="copyright">После оформления заявки, заказ обязательно подтверждается по телефону. В
						течение 30 минут с Вами свяжется консультант nf-rus.ru и уточнит выбранные наименования
						продукции, предпочитаемую форму оплаты и удобное время доставки. Только после этого
						заказ будет считаться оформленным и будет отправлен на исполнение. В случае, если заявка
						оформлена после 20:00, то менеджер по продажам свяжется с Вами утром следующего дня.</span>

				</form>
			</div>
		</div>
	</div>
</div>
