<article class="seo-text text-default">
	<div class="container">
		<h2 class="seo-text__title">
			Интернет-магазин немецкой техники
		</h2>
		<a href="https://nf-rus.ru/images/the_neff_kitchen.mp4"  data-fancybox data-width="640" data-height="360">
			<img src="images/about-store.png" alt="" class="official-dealers__pic" style="float: left; padding: 17px 35px 32px 0;">
		</a>
		<p>
			Наш интернет-магазин представляет немецкую бытовую технику Neff, которая отличается узнаваемым дизайном,
			высокой функциональностью, а также экономичным потреблением энергоресурсов. Мы предлагаем удобный выбор
			бытовой техники для дома, широкий ассортимент всех категорий и аксессуаров, а также высокое качество
			обслуживания, привлекательные цены и гарантию от производителя.

		</p>
		<p>
			На официальном сайте специализированного магазина бытовой техники Neff представлены все современные модели немецкого бренда и актуальные новинки. Широкий ассортимент бытовой техники для кухни и дома позволит выбрать приборы для любого дома или квартиры. Специальные условия доставки и подключения помогут сделать покупку еще выгоднее.
		</p>
		<h2>
			Сервисные центры в России
		</h2>
		<p>
			На технику Neff распространяется официальная гарантия производителя — 1 год с момента продажи. Ремонт и сервисное обслуживание осуществляется в сервисных центрах, заявку на обслуживание можно оставить по телефону бесплатной горячей линии (800) 100-42-52.
		</p>
		<h2>
			Преимущества бренда
		</h2>
		<p>
			Neff является одним из ведущих производителей бытовой техники. Компания начала свою деятельность в 1877 году и сегодня производит более 1,5 миллионов единиц товара ежегодно. Потребности и нужды людей являются главным ориентиром компании. Результаты работы отражаются в единообразии дизайна и высокой функциональности. Техника Нефф — стиль и практичность в каждой детали.
		</p>
		<img src="images/seo-2.png" alt="">
	</div>
	<div class="about-store__button js-about-store__button">Читать подробнее</div>

</article>
