<div class="breadcrumbs">
	<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
		<div class="breadcrumbs__link" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a
				href="/" title="Главная" itemprop="item"><span itemprop="name">Neff</span></a>
			<meta itemprop="position" content="1">
		</div>
		<div class="breadcrumbs__sep">»</div>
		<div class="breadcrumbs__link" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
			<span itemprop="name">Новости</span><a itemprop="item" href="/articles/" title="Новости"></a>
			<meta itemprop="position" content="2">
		</div>
	</div>
</div>
<h1 class="title">Новости</h1>
<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">

			<div class="yandex">
				<div class="yandex__inner">
					<div class="yandex__logo">
						<img src="https://neff.ret-team.ru//mockup/templates/main/build/images/ylogo.png" alt=""
							class="yandex__img" />
					</div>

					<div class="yandex__ratings">
						<img src="https://neff.ret-team.ru//mockup/templates/main/build/images/5-stars.png" alt="" />
					</div>
					<a href="https://market.yandex.ru/shop/70583/reviews/add?retpath=https%3A%2F%2Fmarket.yandex.ru%2Fshop--nf-rus%2F70583%2Freviews&track=rev_sh"
						target="_blank" class="yandex__button">Оставить отзыв</a>
					<a href="https://market.yandex.ru/shop--nf-rus/70583/reviews" target="_blank"
						class="yandex__button">Читать все отзывы</a>
				</div>
			</div>
			<div class="quality">
				<span class="quality__title">Контроль качества</span>
				<span class="quality__text">Номер для претензий и предложений:</span>
				<a href="tel:+74951201196" class="quality__number">+7 (495) 120-11-96</a>
				<span class="quality__worktime">с 9:00 до 18:00 по будням</span>
				<a href="/kachestvo/" class="quality__button">Написать</a>
			</div>

	</div>
	<div class="col-md-9">

		<div class="articles__items">

			<div class="articles__item" id="bx_3218110189_4206">

				<a class="articles__pic"
					href="/articles/posudomoechnaya-mashina-neff-s513g40x0r-instruktsiya-po-ekspluatatsii.html"
					title="Посудомоечная машина Neff S513G40X0R – инструкция по эксплуатации">
					<img data-src="https://neff.ret-team.ru/upload/iblock/9bf/9bfb15d94c91decfbf988b4b749edd43.jpg"
						data-srcset="https://neff.ret-team.ru/upload/iblock/9bf/9bfb15d94c91decfbf988b4b749edd43.jpg 2x,https://neff.ret-team.ru/upload/iblock/9bf/9bfb15d94c91decfbf988b4b749edd43.jpg 3x"
						class="articles__img lazyload" />
				</a>
				<a href="/articles/posudomoechnaya-mashina-neff-s513g40x0r-instruktsiya-po-ekspluatatsii.html"
					title="Посудомоечная машина Neff S513G40X0R – инструкция по эксплуатации"
					class="articles__text">Посудомоечная машина Neff S513G40X0R – инструкция по эксплуатации</a>
				<span class="articles__date">30 Сентября 2018</span>
				<span class="articles__info">
					<p align="justify"> Внимательное чтение инструкции поможет избежать ошибок, поломок и&nbsp;нештатных
						ситуаций. </p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4205">

				<a class="articles__pic"
					href="/articles/instruktsiya-po-ekspluatatsii-posudomoechnoy-mashiny-neff-.html"
					title="Инструкция по эксплуатации посудомоечной машины Neff">
					<img data-src="https://neff.ret-team.ru/upload/iblock/314/3146a10180b604bb6fe995e558b11d9e.jpg"
						data-srcset="https://neff.ret-team.ru/upload/iblock/314/3146a10180b604bb6fe995e558b11d9e.jpg 2x,https://neff.ret-team.ru/upload/iblock/314/3146a10180b604bb6fe995e558b11d9e.jpg 3x"
						class="articles__img lazyload" />
				</a>
				<a href="/articles/instruktsiya-po-ekspluatatsii-posudomoechnoy-mashiny-neff-.html"
					title="Инструкция по эксплуатации посудомоечной машины Neff" class="articles__text">Инструкция по
					эксплуатации посудомоечной машины Neff</a>
				<span class="articles__date">1 Августа 2018</span>
				<span class="articles__info">
					<p align="justify"> Каждая модель бытовой техники сегодня комплектуется подробной инструкцией.</p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4204">

				<a class="articles__pic" href="/articles/kak-razblokirovat-varochnuyu-panel-neff.html"
					title="Как разблокировать варочную панель Neff">
					<img data-src="https://neff.ret-team.ru/upload/iblock/518/5187326394178946547f295fad7ddcb4.jpg"
						data-srcset="https://neff.ret-team.ru/upload/iblock/518/5187326394178946547f295fad7ddcb4.jpg 2x,https://neff.ret-team.ru/upload/iblock/518/5187326394178946547f295fad7ddcb4.jpg 3x"
						class="articles__img lazyload" />
				</a>
				<a href="/articles/kak-razblokirovat-varochnuyu-panel-neff.html"
					title="Как разблокировать варочную панель Neff" class="articles__text">Как разблокировать варочную
					панель Neff</a>
				<span class="articles__date">28 Июня 2018</span>
				<span class="articles__info">
					<p align="justify">Варочные панели оснащаются возможностью блокировки, это позволяет свести
						к&nbsp;минимуму риск ожогов. </p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4203">

				<a class="articles__pic" href="/articles/novinki-ot-neff.html" title="Новинки от Neff">
					<img data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/31e/272_168_2/31ec6674a6bee825071728554db67bdb.jpg"
						data-srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/31e/272_168_2/31ec6674a6bee825071728554db67bdb.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/31e/272_168_2/31ec6674a6bee825071728554db67bdb.jpg 3x"
						class="articles__img lazyload" />
				</a>
				<a href="/articles/novinki-ot-neff.html" title="Новинки от Neff" class="articles__text">Новинки от
					Neff</a>
				<span class="articles__date">4 Мая 2018</span>
				<span class="articles__info">
					<p align="justify">Особенности новых узких полновстраиваемых посудомоечных машин Neff.</p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4202">

				<a class="articles__pic" href="/articles/kak-vybrat-mikrovolnovuyu-pech-neff.html"
					title="Как выбрать микроволновую печь Neff">
					<img data-src="https://neff.ret-team.ru/upload/iblock/9d7/9d7a5c8e6a988c600c6c4dfa20ebd5eb.jpg"
						data-srcset="https://neff.ret-team.ru/upload/iblock/9d7/9d7a5c8e6a988c600c6c4dfa20ebd5eb.jpg 2x,https://neff.ret-team.ru/upload/iblock/9d7/9d7a5c8e6a988c600c6c4dfa20ebd5eb.jpg 3x"
						class="articles__img lazyload" />
				</a>
				<a href="/articles/kak-vybrat-mikrovolnovuyu-pech-neff.html" title="Как выбрать микроволновую печь Neff"
					class="articles__text">Как выбрать микроволновую печь Neff</a>
				<span class="articles__date">29 Января 2018</span>
				<span class="articles__info">
					<p> Встраиваемые микроволновые печи Neff продолжают линейку техники для кухни от&nbsp;известного
						немецкого бренда.</p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4201">

				<a class="articles__pic" href="/articles/varochnye-paneli-neff-s-zonoy-flexzone.html"
					title="Варочные панели Neff с зоной FlexZone">
					<img data-src="https://neff.ret-team.ru/upload/iblock/23a/23aadc276bb40d99b0d44b4df4e3fd87.jpg"
						data-srcset="https://neff.ret-team.ru/upload/iblock/23a/23aadc276bb40d99b0d44b4df4e3fd87.jpg 2x,https://neff.ret-team.ru/upload/iblock/23a/23aadc276bb40d99b0d44b4df4e3fd87.jpg 3x"
						class="articles__img lazyload" />
				</a>
				<a href="/articles/varochnye-paneli-neff-s-zonoy-flexzone.html"
					title="Варочные панели Neff с зоной FlexZone" class="articles__text">Варочные панели Neff с зоной
					FlexZone</a>
				<span class="articles__date">7 Ноября 2017</span>
				<span class="articles__info">
					<p> Зона FlexZone позволяет разместить сразу несколько кастрюль или сковородок. </p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4199">

				<a class="articles__pic" href="/articles/tekhnologii-neff-v-dukhovykh-shkafakh.html"
					title="Технологии Neff в духовых шкафах">
					<img data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/b28/272_168_2/b28b7563300f8cd926e56a0c5c7da471.jpg"
						data-srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/b28/272_168_2/b28b7563300f8cd926e56a0c5c7da471.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/b28/272_168_2/b28b7563300f8cd926e56a0c5c7da471.jpg 3x"
						class="articles__img lazyload" />
				</a>
				<a href="/articles/tekhnologii-neff-v-dukhovykh-shkafakh.html" title="Технологии Neff в духовых шкафах"
					class="articles__text">Технологии Neff в духовых шкафах</a>
				<span class="articles__date">9 Сентября 2017</span>
				<span class="articles__info">
					<p> Преимущества новых технологий в духовках Neff. </p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4198">

				<a class="articles__pic" href="/articles/pyat-prichin-vybrat-kompaktnyy-pribor-neff.html"
					title="Пять причин выбрать компактный прибор Neff">
					<img data-src="https://neff.ret-team.ru/upload/iblock/5c7/5c790109b8dbaa9b41757880e7c59824.jpg"
						data-srcset="https://neff.ret-team.ru/upload/iblock/5c7/5c790109b8dbaa9b41757880e7c59824.jpg 2x,https://neff.ret-team.ru/upload/iblock/5c7/5c790109b8dbaa9b41757880e7c59824.jpg 3x"
						class="articles__img lazyload" />
				</a>
				<a href="/articles/pyat-prichin-vybrat-kompaktnyy-pribor-neff.html"
					title="Пять причин выбрать компактный прибор Neff" class="articles__text">Пять причин выбрать
					компактный прибор Neff</a>
				<span class="articles__date">23 Июля 2017</span>
				<span class="articles__info">
					<p>Комплекс компактных приборов для тех, кто имеет небольшую кухню и хочет максимально использовать
						ее&nbsp;потенциал.</p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4197">

				<a class="articles__pic" href="/articles/novye-vytyazhki-neff.html" title="Новые вытяжки Neff">
					<img data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/90a/272_168_2/90a2784d1a603b8d224e6e7312488a85.jpg"
						data-srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/90a/272_168_2/90a2784d1a603b8d224e6e7312488a85.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/90a/272_168_2/90a2784d1a603b8d224e6e7312488a85.jpg 3x"
						class="articles__img lazyload" />
				</a>
				<a href="/articles/novye-vytyazhki-neff.html" title="Новые вытяжки Neff" class="articles__text">Новые
					вытяжки Neff</a>
				<span class="articles__date">28 Июня 2017</span>
				<span class="articles__info">
					<p>Использование передовых технологий делает вытяжки Нефф одними из лучших в своем классе. </p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4196">

				<a class="articles__pic" href="/articles/preimushchestva-induktsionnykh-varochnykh-paneley-neff.html"
					title="Преимущества индукционных варочных панелей Neff">
					<img data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/3b1/272_168_2/3b14121ff5f52a8fe7d3d2c5c1723dbd.jpg"
						data-srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/3b1/272_168_2/3b14121ff5f52a8fe7d3d2c5c1723dbd.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/3b1/272_168_2/3b14121ff5f52a8fe7d3d2c5c1723dbd.jpg 3x"
						class="articles__img lazyload" />
				</a>
				<a href="/articles/preimushchestva-induktsionnykh-varochnykh-paneley-neff.html"
					title="Преимущества индукционных варочных панелей Neff" class="articles__text">Преимущества
					индукционных варочных панелей Neff</a>
				<span class="articles__date">8 Июня 2017</span>
				<span class="articles__info">
					<p>Индукционные варочные панели немецкого бренда превращают процесс приготовления пищи в любимое
						занятие. </p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4195">

				<a class="articles__pic" href="/articles/novye-posudomoechnye-mashiny-neff.html"
					title="Новые посудомоечные машины Neff">
					<img data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/3d7/272_168_2/3d73611401c3d674d1b76fc2a8d720b9.jpg"
						data-srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/3d7/272_168_2/3d73611401c3d674d1b76fc2a8d720b9.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/3d7/272_168_2/3d73611401c3d674d1b76fc2a8d720b9.jpg 3x"
						class="articles__img lazyload" />
				</a>
				<a href="/articles/novye-posudomoechnye-mashiny-neff.html" title="Новые посудомоечные машины Neff"
					class="articles__text">Новые посудомоечные машины Neff</a>
				<span class="articles__date">8 Июня 2017</span>
				<span class="articles__info">
					<p> Приборы Neff отличаются надёжностью, вместительностью и бережным отношением к посуде. </p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4194">

				<a class="articles__pic" href="/articles/preimushchestva-dukhovykh-shkafov-neff.html"
					title="Преимущества духовых шкафов Neff">
					<img data-src="https://neff.ret-team.ru/upload/iblock/e24/e24fd64751fc1f1b3b2cbcec1e684e1f.jpg"
						data-srcset="https://neff.ret-team.ru/upload/iblock/e24/e24fd64751fc1f1b3b2cbcec1e684e1f.jpg 2x,https://neff.ret-team.ru/upload/iblock/e24/e24fd64751fc1f1b3b2cbcec1e684e1f.jpg 3x"
						class="articles__img lazyload" />
				</a>
				<a href="/articles/preimushchestva-dukhovykh-shkafov-neff.html" title="Преимущества духовых шкафов Neff"
					class="articles__text">Преимущества духовых шкафов Neff</a>
				<span class="articles__date">20 Марта 2017</span>
				<span class="articles__info">
					<p>Приготовить вкусную и полезную пищу для всей семьи помогут духовые шкафы Neff. </p>
				</span>
			</div>

		</div>

		<!-- begin nav -->

		<div class="pagination">

			<span class="pagination__item pagination__item_state_current">1</span>
			<a class="pagination__item" href="/articles/?PAGEN_1=2">2</a>
			<a class="pagination__item" href="/articles/?PAGEN_1=3">3</a>
			<a class="pagination__next" href="/articles/?PAGEN_1=2"></a>
		</div>

	</div>
	<div class="newsletter">
				<div class="newsletter__pic">
					<img src="images/newsletter.png" alt="">
				</div>
				<!-- /.newsletter__pic -->
				<div class="newsletter__items">
					<div class="newsletter__title">
						Мы помним, что вас интересовало, получите выгодное предложение!
					</div>
					<!-- /.newsletter__title -->
					<div class="newsletter__subtitle">
						Подпишитесь, чтобы первыми узнавать о новостях, акциях и выгодных предложениях
					</div>
					<!-- /.newsletter__subtitle -->
					<div class="newsletter__form">
						<form class="newslette__form js-form" action="" method="post">
							<strong class="abuse-popup__name newslette__name">Ваше имя:
								<span class="abuse-popup__req newslette__req">*</span>
							</strong>
							<input type="text" name="F[NAME]" value="" placeholder="Ваше имя">

							<strong class="abuse-popup__name newslette__name">Ваше телефон:
								<span class="abuse-popup__req newslette__req">*</span>
							</strong>
							<input type="text" name="" value="" class="return-exchange__input" placeholder="Email *"
								title="E-mail" required="">
							<input type="submit" value="Подписаться" class="btn-sub3 abuse-popup__submit js-go">
							<div class="abuse-popup__item">
								<label class="checkbox checkbox_oferta js-checkbox">
									<input class="checkbox__input js-check" type="checkbox" checked="checked">
									<span class="checkbox__icon js-check_icon"></span>
									<span class="checkbox__text">Согласен с <a target="_blank"
											href="/personal-data/">использованием персональных данных</a> для обработки
										обращения</span>
								</label>

								<input type="hidden" name="F[PAGE]" class="js-form_page noCheck"
									value="https://gr-russia.ru/catalog/termostaty/termostat-dlya-vanny-grohe-grandera-19934ig0-verkhnyaya-montazhnaya-chast.html">
								<input type="hidden" name="action" value="callbackAdd">

							</div>
						</form>
					</div>
					<!-- /.newsletter__form -->
				</div>
				<!-- /.newsletter__items -->
			</div>
			<!-- /.newsletter -->
</div>
