<article class="about-store">
	<div class="container">
		<h2 class="about-store__title">
			Об интернет-магазине L-RUS
		</h2>
		<p>
			<img src="images/about-brand.png" align='left' alt="">
			На нашем официальном сайте можно купить надежные и долговечные устройства марки Либхер по наиболее
			привлекательной цене в Москве. В каталоге есть не только холодильники и морозильники для домашнего
			использования, но и лучшая профессиональная техника - медицинское и лабораторное оборудование, а также
			оборудование для гостиниц, ресторанов и пекарен. Грамотные консультанты интернет-магазина ответят на ваши
			вопросы и помогут выбрать подходящий именно вам вариант. При необходимости, у нас можно недорого оформить
			доставку и установку.
			<br>
			<br>
			<br>
			Постоянное стремление к новому, технологические прорывы, забота о комфорте потребителей, экономичность и
			экологическая безопасность – вот, главные ценности компании, которые она стремится воплощать в своей
			продукции. Большое количество наград и премий только подтверждает лидерство фирмы в области производства
			холодильного и морозильного оборудования. Например, Liebherr стал брендом года 2012 в конкурсе Plus X
			Awards, а также получил знак качества Favorite Brand Gold по мнению клиентов в 2014 году. Но главное
			заключается в том, что каждый день в мире покупатели делают выбор в пользу холодильников либхер.
		</p>
		<p>
			С самого начала главным отличием продукции Liebherr от конкурентов стало применение инновационных
			технологий, порой опережающих свое время. Сейчас уже трудно представить, что когда-то абсолютно все
			холодильники нужно было обязательно размораживать вручную, потому что не существовало технологии No Fropt.
			Ее изобретение – это заслуга инженеров компании либхер. Сегодня эту технологию переняли практически все
			производители бытовой техники.
		</p>
		<p>
			Еще одним достижением стало освоение инновации BioFresh, которая помогает сохранить продукты свежими как
			можно дольше. Система BioFresh отвечает за поддержание температуры от -1 до +3 градусов при определенном
			уровне влажности. Так были спроектированы два специальных отделенияs с максимальным уровнем влажности - для
			хранения овощей, фруктов, зелени, и с минимальным - для хранения продуктов животного происхождения. Термин
			«BioFresh» был запатентован Liebherr, поэтому аналогичные системы у прочих производителей называются «Зона
			свежести».
		</p>
		<p>
			Техника Либхер уже больше полувека является стандартом высокого качества и надежности. История компании
			началась с производства башенных кранов и строительных машин в 1953 году в Германии. Продукцию можно
			приобрести практически во всех странах Европы. В каталоге Liebherr представлено богатое разнообразие
			отдельностоящих и встраиваемых холодильников, морозильных камер и ларей, винных шкафов и хьюмидоров. Внешний
			вид устройств позволяет сочетать их с самыми разными интерьерными стилями, а функциональность удовлетворяет
			даже самого взыскательного покупателя.
		</p>
		<p>
			С самого начала главным отличием продукции Liebherr от конкурентов стало применение инновационных
			технологий, порой опережающих свое время. Сейчас уже трудно представить, что когда-то абсолютно все
			холодильники нужно было обязательно размораживать вручную, потому что не существовало технологии No Fropt.
			Ее изобретение – это заслуга инженеров компании либхер. Сегодня эту технологию переняли практически все
			производители бытовой техники.
		</p>
	</div>
	<div class="about-store__button js-about-store__button">Читать подробнее</div>
</article>