<div class="category">
	<div class="category-container container">
		<div class="swiper-wrapper category__items">
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/var.png')">
				<span class="category__caption">
					Варочные<br> панели Neff
				</span>
				<!-- /.category__caption -->
				<span class="category__desc">
					Удобство
				</span>
				<!-- /.category__desc -->

				<span class="category__price">
					от 54 800 до 1 000 000 руб.
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/posuda.png')">
				<span class="category__caption">
					Посудомоечные<br> машины Neff
				</span>
				<!-- /.category__caption -->
				<span class="category__desc">
					Комфорт
				</span>
				<!-- /.category__desc -->
				<span class="category__price">
					от 54 800 до 1 000 000 руб.
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/stir.png')">
				<span class="category__caption">
					Стиральные<br> машины Neff
				</span>
				<!-- /.category__caption -->
				<span class="category__desc">
					Экономичность
				</span>
				<!-- /.category__desc -->
				<span class="category__price">
					от 54 800 до 1 000 000 руб.
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/duh.png')">
				<span class="category__caption">
					Духовые <br> шкафы Neff
				</span>
				<!-- /.category__caption -->
				<span class="category__desc">
					Функциональность
				</span>
				<!-- /.category__desc -->
				<span class="category__price">
					от 54 800 до 1 000 000 руб.
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/holod.png')">
				<span class="category__caption">
					Холодильники<br> Neff
				</span>
				<!-- /.category__caption -->
				<span class="category__desc">
					Надежность
				</span>
				<!-- /.category__desc -->
				<span class="category__price">
					от 54 800 до 1 000 000 руб.
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/mikr.png')">
				<span class="category__caption">
					Микроволновые <br>печи Neff
				</span>
				<!-- /.category__caption -->
				<span class="category__desc">
					Быстрота
				</span>
				<!-- /.category__desc -->
				<span class="category__price">
					от 54 800 до 1 000 000 руб.
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
		</div>
		<!-- /.swiper-wrapper category__items -->
	</div>
	<!-- /.category-container -->
	<div class="swiper-pagination category-pagination"></div>
</div>
<!-- /.category -->
