<div class="articles">
	<div class="container">
		<span class="articles__title">Статьи</span>
		<a href="/news/" title="Все Статьи" class="articles__link">Все Статьи</a>

		<div class="articles__items">

			<div class="articles__item" id="bx_3099439860_">
				<a href="/articles/posudomoechnaya-mashina-neff-s51t65y6.html"
					title="Обзор посудомоечной машины Neff  S51T65Y6" class="articles__pic">
					<img data-src="https://neff.ret-team.ru/upload/iblock/e7b/e7bfeffe995f2ddf60c8b44b900c390a.jpg"
						data-srcset="https://neff.ret-team.ru/upload/iblock/e7b/e7bfeffe995f2ddf60c8b44b900c390a.jpg 2x,https://neff.ret-team.ru/upload/iblock/e7b/e7bfeffe995f2ddf60c8b44b900c390a.jpg 3x"
						class="articles__img lazyloaded"
						srcset="https://neff.ret-team.ru/upload/iblock/e7b/e7bfeffe995f2ddf60c8b44b900c390a.jpg 2x,https://neff.ret-team.ru/upload/iblock/e7b/e7bfeffe995f2ddf60c8b44b900c390a.jpg 3x"
						src="https://neff.ret-team.ru/upload/iblock/e7b/e7bfeffe995f2ddf60c8b44b900c390a.jpg">
				</a>
				<a href="/articles/posudomoechnaya-mashina-neff-s51t65y6.html"
					title="Обзор посудомоечной машины Neff  S51T65Y6" class="articles__text">Обзор посудомоечной машины
					Neff S51T65Y6</a>
				<span class="articles__date">03.08.2014</span>
				<span class="articles__info">Инновационные технологии и&nbsp;стильный дизайн соединились
					в&nbsp;посудомоечной машине Neff S51T65Y6. Уникальные функции и&nbsp;дополнительные режимы сделают
					использование комфортным и&nbsp;безопасным. Благодаря цеолитной сушке снижается расход
					электроэнергии и&nbsp;сокращается время установленной программы.</span>
			</div>

			<div class="articles__item" id="bx_3099439860_">
				<a href="/articles/obzor-avtomaticheskoy-kofemashiny-neff-c77v60n2.html"
					title="Обзор автоматической кофемашины Neff C77V60N2" class="articles__pic">
					<img data-src="https://neff.ret-team.ru/upload/iblock/f84/f8463dd105a4d10ab1f3e18d3abcadf7.jpg"
						data-srcset="https://neff.ret-team.ru/upload/iblock/f84/f8463dd105a4d10ab1f3e18d3abcadf7.jpg 2x,https://neff.ret-team.ru/upload/iblock/f84/f8463dd105a4d10ab1f3e18d3abcadf7.jpg 3x"
						class="articles__img lazyloaded"
						srcset="https://neff.ret-team.ru/upload/iblock/f84/f8463dd105a4d10ab1f3e18d3abcadf7.jpg 2x,https://neff.ret-team.ru/upload/iblock/f84/f8463dd105a4d10ab1f3e18d3abcadf7.jpg 3x"
						src="https://neff.ret-team.ru/upload/iblock/f84/f8463dd105a4d10ab1f3e18d3abcadf7.jpg">
				</a>
				<a href="/articles/obzor-avtomaticheskoy-kofemashiny-neff-c77v60n2.html"
					title="Обзор автоматической кофемашины Neff C77V60N2" class="articles__text">Обзор автоматической
					кофемашины Neff C77V60N2</a>
				<span class="articles__date">24.11.2014</span>
				<span class="articles__info">Капучино, латте макиато, кофе с&nbsp;молоком, эспрессо в&nbsp;домашних
					условиях? Благодаря автоматической кофемашине Neff C77V60N2 теперь это возможно! Простое управление
					сделает процесс приготовления любого напитка легким и&nbsp;комфортным. Идеальные пропорции
					и&nbsp;одинаковые размеры позволят сочетать данную модель с&nbsp;другими приборами Neff.</span>
			</div>

			<div class="articles__item" id="bx_3099439860_">
				<a href="/articles/posudomoechnaya-mashina-neff-s513g40x0r-instruktsiya-po-ekspluatatsii.html"
					title="Посудомоечная машина Neff S513G40X0R – инструкция по эксплуатации" class="articles__pic">
					<img data-src="https://neff.ret-team.ru/upload/iblock/97e/97e5266073d9edcf252c1141e9eec9cb.jpg"
						data-srcset="https://neff.ret-team.ru/upload/iblock/97e/97e5266073d9edcf252c1141e9eec9cb.jpg 2x,https://neff.ret-team.ru/upload/iblock/97e/97e5266073d9edcf252c1141e9eec9cb.jpg 3x"
						class="articles__img lazyloaded"
						srcset="https://neff.ret-team.ru/upload/iblock/97e/97e5266073d9edcf252c1141e9eec9cb.jpg 2x,https://neff.ret-team.ru/upload/iblock/97e/97e5266073d9edcf252c1141e9eec9cb.jpg 3x"
						src="https://neff.ret-team.ru/upload/iblock/97e/97e5266073d9edcf252c1141e9eec9cb.jpg">
				</a>
				<a href="/articles/posudomoechnaya-mashina-neff-s513g40x0r-instruktsiya-po-ekspluatatsii.html"
					title="Посудомоечная машина Neff S513G40X0R – инструкция по эксплуатации"
					class="articles__text">Посудомоечная машина Neff S513G40X0R – инструкция по эксплуатации</a>
				<span class="articles__date">30.09.2018</span>
				<span class="articles__info">
					<p align="justify">Если вы&nbsp;стали счастливым обладателем полновстраиваемой посудомоечной машины
						Neff S513G40X0R, то, прежде чем начать пользоваться, не&nbsp;поленитесь внимательно прочитать
						инструкцию. Это поможет избежать ошибок&nbsp;и, как следствие&nbsp;— поломок и&nbsp;нештатных
						ситуаций. </p>
				</span>
			</div>

			<div class="articles__item" id="bx_3099439860_">
				<a href="/articles/instruktsiya-po-ekspluatatsii-posudomoechnoy-mashiny-neff-.html"
					title="Инструкция по эксплуатации посудомоечной машины Neff" class="articles__pic">
					<img data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/0c9/272_168_2/0c9c24dca399e30b81acac866469cfbe.jpg"
						data-srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/0c9/272_168_2/0c9c24dca399e30b81acac866469cfbe.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/0c9/272_168_2/0c9c24dca399e30b81acac866469cfbe.jpg 3x"
						class="articles__img lazyloaded"
						srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/0c9/272_168_2/0c9c24dca399e30b81acac866469cfbe.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/0c9/272_168_2/0c9c24dca399e30b81acac866469cfbe.jpg 3x"
						src="https://neff.ret-team.ru/upload/resize_cache/iblock/0c9/272_168_2/0c9c24dca399e30b81acac866469cfbe.jpg">
				</a>
				<a href="/articles/instruktsiya-po-ekspluatatsii-posudomoechnoy-mashiny-neff-.html"
					title="Инструкция по эксплуатации посудомоечной машины Neff" class="articles__text">Инструкция по
					эксплуатации посудомоечной машины Neff</a>
				<span class="articles__date">01.08.2018</span>
				<span class="articles__info">
					<p align="justify">Каждая модель бытовой техники сегодня комплектуется подробной инструкцией.
						Производители советуют не&nbsp;полагаться на&nbsp;собственную смекалку, а&nbsp;внимательно
						прочитать руководство пользователя перед началом эксплуатации.</p>
				</span>
			</div>

		</div>

	</div>
</div>
