<div class="breadcrumbs">
	<a href="#" class="breadcrumbs__link">Liebherr</a>
	<span class="breadcrumbs__sep">/</span>
	<span class="breadcrumbs__text">Акции и статьи</span>
</div>
<h1 class="title title_margin">Акции и статьи</h1>
<div class="d-flex flex-column flex-md-row">
	<div class="col-md-3">
		<form class="filter__form filter closed filter__article" action="" method="get" id="products-filter">
			<input type="hidden" name="F[SET_FILTER]" id="SET_FILTER" value="Y">

			<div class="filter__item">
				<div class="filter__title">Материал</div>
				<div class="filter__checkbox">
					<label class="checkbox checkbox_oferta ">
						<input type="checkbox" name="" class="checkbox__input" checked="">
						<span class="checkbox__icon"></span>
						<span class="checkbox__text"> Статьи</span>
					</label>
					<label class="checkbox checkbox_oferta ">
						<input type="checkbox" name="" class="checkbox__input" checked="">
						<span class="checkbox__icon"></span>
						<span class="checkbox__text"> Акции</span>
					</label>
				</div>
			</div>
			<div class="filter__item">
				<div class="filter__title">Цвет</div>
				<div class="filter__checkbox">
					<a class="filter__tags" href="#" title="">
						<span class="checkbox-custom">
							Советы
						</span>
						<span class="checkbox-number">13</span>
					</a>
					<a class="filter__tags" href="#" title="">
						<span class="checkbox-custom">Акции</span>

						<span class="checkbox-number">13</span>
					</a>
					<a class="filter__tags" href="#" title="">
						<span class="checkbox-custom">Акции</span>

						<span class="checkbox-number">13</span>
					</a>
					<a class="filter__tags" href="#" title="">
						<span class="checkbox-custom">Кухня</span>

						<span class="checkbox-number">13</span>
					</a>
					<a class="filter__tags" href="#" title="">
						<span class="checkbox-custom">Ремонт
						</span>
						<span class="checkbox-number">13</span>
					</a>
					<a class="filter__tags" href="#" title="">
						<span class="checkbox-custom">Холодильник</span>
						<span class="checkbox-number">13</span>
					</a>
				</div>
				<a href="#" class="catalog__simile">Показать еще</a>
			</div>
			<div class="filter__item item__close">
				<span class="close__filter">
					Открыть
				</span>
				<span class="close__filter">
					Закрыть
				</span>
			</div>
		</form>
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">
		<div class="articles__items">

			<div class="articles__item" id="bx_3218110189_4206">

				<a class="articles__pic"
					href="/articles/posudomoechnaya-mashina-neff-s513g40x0r-instruktsiya-po-ekspluatatsii.html"
					title="Посудомоечная машина Neff S513G40X0R – инструкция по эксплуатации">
					<img data-src="https://neff.ret-team.ru/upload/iblock/97e/97e5266073d9edcf252c1141e9eec9cb.jpg"
						data-srcset="https://neff.ret-team.ru/upload/iblock/97e/97e5266073d9edcf252c1141e9eec9cb.jpg 2x,https://neff.ret-team.ru/upload/iblock/97e/97e5266073d9edcf252c1141e9eec9cb.jpg 3x"
						class="articles__img loaded lazyloaded"
						srcset="https://neff.ret-team.ru/upload/iblock/97e/97e5266073d9edcf252c1141e9eec9cb.jpg 2x,https://neff.ret-team.ru/upload/iblock/97e/97e5266073d9edcf252c1141e9eec9cb.jpg 3x"
						src="https://neff.ret-team.ru/upload/iblock/97e/97e5266073d9edcf252c1141e9eec9cb.jpg"
						data-was-processed="true">
				</a>
				<a href="/articles/posudomoechnaya-mashina-neff-s513g40x0r-instruktsiya-po-ekspluatatsii.html"
					title="Посудомоечная машина Neff S513G40X0R – инструкция по эксплуатации"
					class="articles__text">Посудомоечная машина Neff S513G40X0R – инструкция по эксплуатации</a>
				<span class="articles__date">30 Сентября 2018</span>
				<span class="articles__info">
					<p align="justify">Если вы&nbsp;стали счастливым обладателем полновстраиваемой посудомоечной машины
						Neff S513G40X0R, то, прежде чем начать пользоваться, не&nbsp;поленитесь внимательно прочитать
						инструкцию. Это поможет избежать ошибок&nbsp;и, как следствие&nbsp;— поломок и&nbsp;нештатных
						ситуаций. </p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4205">

				<a class="articles__pic"
					href="/articles/instruktsiya-po-ekspluatatsii-posudomoechnoy-mashiny-neff-.html"
					title="Инструкция по эксплуатации посудомоечной машины Neff">
					<img data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/0c9/272_168_2/0c9c24dca399e30b81acac866469cfbe.jpg"
						data-srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/0c9/272_168_2/0c9c24dca399e30b81acac866469cfbe.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/0c9/272_168_2/0c9c24dca399e30b81acac866469cfbe.jpg 3x"
						class="articles__img loaded lazyloaded"
						srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/0c9/272_168_2/0c9c24dca399e30b81acac866469cfbe.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/0c9/272_168_2/0c9c24dca399e30b81acac866469cfbe.jpg 3x"
						src="https://neff.ret-team.ru/upload/resize_cache/iblock/0c9/272_168_2/0c9c24dca399e30b81acac866469cfbe.jpg"
						data-was-processed="true">
				</a>
				<a href="/articles/instruktsiya-po-ekspluatatsii-posudomoechnoy-mashiny-neff-.html"
					title="Инструкция по эксплуатации посудомоечной машины Neff" class="articles__text">Инструкция по
					эксплуатации посудомоечной машины Neff</a>
				<span class="articles__date">1 Августа 2018</span>
				<span class="articles__info">
					<p align="justify">Каждая модель бытовой техники сегодня комплектуется подробной инструкцией.
						Производители советуют не&nbsp;полагаться на&nbsp;собственную смекалку, а&nbsp;внимательно
						прочитать руководство пользователя перед началом эксплуатации.</p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4204">

				<a class="articles__pic" href="/articles/kak-razblokirovat-varochnuyu-panel-neff.html"
					title="Как разблокировать варочную панель Neff">
					<img data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/5a3/272_168_2/5a316544777484cb2845f69e91f4b6e1.jpg"
						data-srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/5a3/272_168_2/5a316544777484cb2845f69e91f4b6e1.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/5a3/272_168_2/5a316544777484cb2845f69e91f4b6e1.jpg 3x"
						class="articles__img loaded lazyloaded"
						srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/5a3/272_168_2/5a316544777484cb2845f69e91f4b6e1.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/5a3/272_168_2/5a316544777484cb2845f69e91f4b6e1.jpg 3x"
						src="https://neff.ret-team.ru/upload/resize_cache/iblock/5a3/272_168_2/5a316544777484cb2845f69e91f4b6e1.jpg"
						data-was-processed="true">
				</a>
				<a href="/articles/kak-razblokirovat-varochnuyu-panel-neff.html"
					title="Как разблокировать варочную панель Neff" class="articles__text">Как разблокировать варочную
					панель Neff</a>
				<span class="articles__date">28 Июня 2018</span>
				<span class="articles__info">
					<p align="justify">Компания Neff заботится о&nbsp;безопасности своих клиентов, поэтому варочные
						панели оснащаются возможностью блокировки. Это позволяет свести к&nbsp;минимуму риск ожогов, что
						особенно важно для семей с&nbsp;детьми. </p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4203">

				<a class="articles__pic" href="/articles/novinki-ot-neff.html" title="Новинки от Neff">
					<img data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/fcf/272_168_2/fcf330880c7dc7a36422e596c0a78265.jpg"
						data-srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/fcf/272_168_2/fcf330880c7dc7a36422e596c0a78265.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/fcf/272_168_2/fcf330880c7dc7a36422e596c0a78265.jpg 3x"
						class="articles__img lazyloaded"
						srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/fcf/272_168_2/fcf330880c7dc7a36422e596c0a78265.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/fcf/272_168_2/fcf330880c7dc7a36422e596c0a78265.jpg 3x"
						src="https://neff.ret-team.ru/upload/resize_cache/iblock/fcf/272_168_2/fcf330880c7dc7a36422e596c0a78265.jpg">
				</a>
				<a href="/articles/novinki-ot-neff.html" title="Новинки от Neff" class="articles__text">Новинки от
					Neff</a>
				<span class="articles__date">4 Мая 2018</span>
				<span class="articles__info">
					<p align="justify">Ассортимент компании Neff постоянно пополняется. В&nbsp;частности, среди
						последних
						предложений можно отметить новые модели узких полновстраиваемых посудомоечных машин. В&nbsp;чём
						их&nbsp;особенности, вы&nbsp;узнаете из&nbsp;этой статьи. </p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4202">

				<a class="articles__pic" href="/articles/kak-vybrat-mikrovolnovuyu-pech-neff.html"
					title="Как выбрать микроволновую печь Neff">
					<img data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/edb/272_168_2/edb99d09af8796a03cb4dbfbdd8ea245.jpg"
						data-srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/edb/272_168_2/edb99d09af8796a03cb4dbfbdd8ea245.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/edb/272_168_2/edb99d09af8796a03cb4dbfbdd8ea245.jpg 3x"
						class="articles__img lazyloaded"
						srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/edb/272_168_2/edb99d09af8796a03cb4dbfbdd8ea245.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/edb/272_168_2/edb99d09af8796a03cb4dbfbdd8ea245.jpg 3x"
						src="https://neff.ret-team.ru/upload/resize_cache/iblock/edb/272_168_2/edb99d09af8796a03cb4dbfbdd8ea245.jpg">
				</a>
				<a href="/articles/kak-vybrat-mikrovolnovuyu-pech-neff.html" title="Как выбрать микроволновую печь Neff"
					class="articles__text">Как выбрать микроволновую печь Neff</a>
				<span class="articles__date">29 Января 2018</span>
				<span class="articles__info">
					<p>Встраиваемые микроволновые печи Neff продолжают линейку техники для кухни от&nbsp;известного
						немецкого бренда. С&nbsp;помощью данных моделей можно не&nbsp;только разогреть готовые блюда,
						но&nbsp;и&nbsp;приготовить повседневный или праздничный обед. Подробнее о&nbsp;том, на&nbsp;что
						обратить внимание при покупке прибора такого типа,&nbsp;— в&nbsp;нашей статье. </p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4201">

				<a class="articles__pic" href="/articles/varochnye-paneli-neff-s-zonoy-flexzone.html"
					title="Варочные панели Neff с зоной FlexZone">
					<img data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/fc4/272_168_2/fc47e40504cbf8daa1534a6ea7ec9164.jpg"
						data-srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/fc4/272_168_2/fc47e40504cbf8daa1534a6ea7ec9164.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/fc4/272_168_2/fc47e40504cbf8daa1534a6ea7ec9164.jpg 3x"
						class="articles__img lazyloaded"
						srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/fc4/272_168_2/fc47e40504cbf8daa1534a6ea7ec9164.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/fc4/272_168_2/fc47e40504cbf8daa1534a6ea7ec9164.jpg 3x"
						src="https://neff.ret-team.ru/upload/resize_cache/iblock/fc4/272_168_2/fc47e40504cbf8daa1534a6ea7ec9164.jpg">
				</a>
				<a href="/articles/varochnye-paneli-neff-s-zonoy-flexzone.html"
					title="Варочные панели Neff с зоной FlexZone" class="articles__text">Варочные панели Neff с зоной
					FlexZone</a>
				<span class="articles__date">7 Ноября 2017</span>
				<span class="articles__info">
					<p>Зона FlexZone призвана разрушать стереотипы: на&nbsp;ней можно разместить сразу несколько
						кастрюль
						или сковородок, причем ставить посуду строго в&nbsp;центр конфорки вовсе не&nbsp;обязательно.
					</p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4199">

				<a class="articles__pic" href="/articles/tekhnologii-neff-v-dukhovykh-shkafakh.html"
					title="Технологии Neff в духовых шкафах">
					<img data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/7fd/272_168_2/7fd54f9d58464645115dc4806438f4d3.jpg"
						data-srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/7fd/272_168_2/7fd54f9d58464645115dc4806438f4d3.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/7fd/272_168_2/7fd54f9d58464645115dc4806438f4d3.jpg 3x"
						class="articles__img lazyloaded"
						srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/7fd/272_168_2/7fd54f9d58464645115dc4806438f4d3.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/7fd/272_168_2/7fd54f9d58464645115dc4806438f4d3.jpg 3x"
						src="https://neff.ret-team.ru/upload/resize_cache/iblock/7fd/272_168_2/7fd54f9d58464645115dc4806438f4d3.jpg">
				</a>
				<a href="/articles/tekhnologii-neff-v-dukhovykh-shkafakh.html" title="Технологии Neff в духовых шкафах"
					class="articles__text">Технологии Neff в духовых шкафах</a>
				<span class="articles__date">9 Сентября 2017</span>
				<span class="articles__info">
					<p>Что отличает духовые шкафы Neff от всех остальных? Ответ прост - наличие новейших технологий для
						максимального комфорта пользователей.</p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4198">

				<a class="articles__pic" href="/articles/pyat-prichin-vybrat-kompaktnyy-pribor-neff.html"
					title="Пять причин выбрать компактный прибор Neff">
					<img data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/e3b/272_168_2/e3be06ed179a43d13ce576ea9d69161a.jpg"
						data-srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/e3b/272_168_2/e3be06ed179a43d13ce576ea9d69161a.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/e3b/272_168_2/e3be06ed179a43d13ce576ea9d69161a.jpg 3x"
						class="articles__img lazyloaded"
						srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/e3b/272_168_2/e3be06ed179a43d13ce576ea9d69161a.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/e3b/272_168_2/e3be06ed179a43d13ce576ea9d69161a.jpg 3x"
						src="https://neff.ret-team.ru/upload/resize_cache/iblock/e3b/272_168_2/e3be06ed179a43d13ce576ea9d69161a.jpg">
				</a>
				<a href="/articles/pyat-prichin-vybrat-kompaktnyy-pribor-neff.html"
					title="Пять причин выбрать компактный прибор Neff" class="articles__text">Пять причин выбрать
					компактный прибор Neff</a>
				<span class="articles__date">23 Июля 2017</span>
				<span class="articles__info">
					<p>Компания Neff изучила потребности пользователей до&nbsp;мелочей и&nbsp;разработала комплекс
						компактных приборов специально для тех, кто имеет небольшую кухню, но&nbsp;желает использовать
						ее&nbsp;потенциал по&nbsp;максимуму. Линейка представлена встраиваемыми кофемашинами, духовыми
						шкафами, микроволновыми печами и&nbsp;шкафами для подогрева посуды.</p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4197">

				<a class="articles__pic" href="/articles/novye-vytyazhki-neff.html" title="Новые вытяжки Neff">
					<img data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/eac/272_168_2/eaca732fd08561782c8b9c418affb96b.jpg"
						data-srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/eac/272_168_2/eaca732fd08561782c8b9c418affb96b.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/eac/272_168_2/eaca732fd08561782c8b9c418affb96b.jpg 3x"
						class="articles__img lazyloaded"
						srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/eac/272_168_2/eaca732fd08561782c8b9c418affb96b.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/eac/272_168_2/eaca732fd08561782c8b9c418affb96b.jpg 3x"
						src="https://neff.ret-team.ru/upload/resize_cache/iblock/eac/272_168_2/eaca732fd08561782c8b9c418affb96b.jpg">
				</a>
				<a href="/articles/novye-vytyazhki-neff.html" title="Новые вытяжки Neff" class="articles__text">Новые
					вытяжки Neff</a>
				<span class="articles__date">28 Июня 2017</span>
				<span class="articles__info">
					<p>Модельный ряд бытовых приборов Neff постоянно пополняется новинками, чтобы сделать жизнь проще и
						освободить полезное время. Немецкая компания предлагает новые вытяжки, функционал которых
						расширен, благодаря использованию передовых технологий.</p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4196">

				<a class="articles__pic" href="/articles/preimushchestva-induktsionnykh-varochnykh-paneley-neff.html"
					title="Преимущества индукционных варочных панелей Neff">
					<img data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/c14/272_168_2/c1458f61ecebdca4f75541606e915afd.jpg"
						data-srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/c14/272_168_2/c1458f61ecebdca4f75541606e915afd.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/c14/272_168_2/c1458f61ecebdca4f75541606e915afd.jpg 3x"
						class="articles__img lazyloaded"
						srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/c14/272_168_2/c1458f61ecebdca4f75541606e915afd.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/c14/272_168_2/c1458f61ecebdca4f75541606e915afd.jpg 3x"
						src="https://neff.ret-team.ru/upload/resize_cache/iblock/c14/272_168_2/c1458f61ecebdca4f75541606e915afd.jpg">
				</a>
				<a href="/articles/preimushchestva-induktsionnykh-varochnykh-paneley-neff.html"
					title="Преимущества индукционных варочных панелей Neff" class="articles__text">Преимущества
					индукционных варочных панелей Neff</a>
				<span class="articles__date">8 Июня 2017</span>
				<span class="articles__info">
					<p>Компания Neff отличается надёжностью и практичностью в сочетании с элегантностью дизайна.
						Индукционные варочные панели немецкого бренда превращают процесс приготовления пищи в любимое
						занятие.</p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4195">

				<a class="articles__pic" href="/articles/novye-posudomoechnye-mashiny-neff.html"
					title="Новые посудомоечные машины Neff">
					<img data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/501/272_168_2/5014c51c5665f38a3c8f7d648915f8a0.jpg"
						data-srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/501/272_168_2/5014c51c5665f38a3c8f7d648915f8a0.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/501/272_168_2/5014c51c5665f38a3c8f7d648915f8a0.jpg 3x"
						class="articles__img lazyloaded"
						srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/501/272_168_2/5014c51c5665f38a3c8f7d648915f8a0.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/501/272_168_2/5014c51c5665f38a3c8f7d648915f8a0.jpg 3x"
						src="https://neff.ret-team.ru/upload/resize_cache/iblock/501/272_168_2/5014c51c5665f38a3c8f7d648915f8a0.jpg">
				</a>
				<a href="/articles/novye-posudomoechnye-mashiny-neff.html" title="Новые посудомоечные машины Neff"
					class="articles__text">Новые посудомоечные машины Neff</a>
				<span class="articles__date">8 Июня 2017</span>
				<span class="articles__info">
					<p>Новые посудомоечные машины Neff отличаются надёжностью, вместительностью и бережным отношением к
						любой посуде. Приборы быстро и эффективно вымоют тарелки и чашки после приёма пищи и сэкономят
						полезное время.</p>
				</span>
			</div>

			<div class="articles__item" id="bx_3218110189_4194">

				<a class="articles__pic" href="/articles/preimushchestva-dukhovykh-shkafov-neff.html"
					title="Преимущества духовых шкафов Neff">
					<img data-src="https://neff.ret-team.ru/upload/resize_cache/iblock/a76/272_168_2/a76a66005a44a74f26f07feeba09058b.jpg"
						data-srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/a76/272_168_2/a76a66005a44a74f26f07feeba09058b.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/a76/272_168_2/a76a66005a44a74f26f07feeba09058b.jpg 3x"
						class="articles__img lazyloaded"
						srcset="https://neff.ret-team.ru/upload/resize_cache/iblock/a76/272_168_2/a76a66005a44a74f26f07feeba09058b.jpg 2x,https://neff.ret-team.ru/upload/resize_cache/iblock/a76/272_168_2/a76a66005a44a74f26f07feeba09058b.jpg 3x"
						src="https://neff.ret-team.ru/upload/resize_cache/iblock/a76/272_168_2/a76a66005a44a74f26f07feeba09058b.jpg">
				</a>
				<a href="/articles/preimushchestva-dukhovykh-shkafov-neff.html" title="Преимущества духовых шкафов Neff"
					class="articles__text">Преимущества духовых шкафов Neff</a>
				<span class="articles__date">20 Марта 2017</span>
				<span class="articles__info">
					<p>Кухня – место, где современная хозяйка воплощает свои кулинарные фантазии. Приготовить вкусную и
						полезную пищу для всей семьи помогут духовые шкафы Neff.</p>
				</span>
			</div>

		</div>
		<div class="articles__list">
			{% include 'pagination/pagination.html' %}
			<a class="load-more" href="#">Загрузить еще</a>
			{% include 'section/sidebar/sidebar.html' %}
		</div>
	</div>

</div>
