<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">
		<div class="breadcrumbs">
			<a href="#" class="breadcrumbs__link">Liebherr</a>
			<span class="breadcrumbs__sep">/</span>
			<span class="breadcrumbs__text">Контакты</span>
		</div>
		<h1 class="title">
			Контакты
		</h1>
		<div class="contact">
			<div class="contact__item">
				<div class="contact__element">
					<p>
						<b>Телефон</b>
						<a href="tel:74959297015" class="header__phone">+7 (495) 477-23-70</a>
					</p>
					<p>
						<b>Email</b>
						<a itemprop="email" saprocessedanchor="true" href="mailto:shop@nf-rus.ru"
							target="_blank">shop@nf-rus.ru</a>
					</p>
					<p>
						<b>Время работы</b>
						<span><b>до 29.12</b> – 08:00-22:00,<br>
							<b>30.12</b> – 09:00-22:00,<br>
							<b>31.12, 01.01, 02.01</b> – выходные,<br>
							<b>03.01-08.01</b> – 09:00-22:00,<br>
							<b>с 09.01</b> – 08:00-22:00.</span>
					</p>
				</div>

				<div class="contact__element">
					<p>
						<b>Реквизиты</b>
						ООО «МСК»&nbsp;
					</p>
					<p>
						Юридический адрес: 115230, г. Москва, ул. Старобитцевская, 17к1, оф.77&nbsp;
					</p>
					<p>
						ОГРН: 5167746199858&nbsp;
					</p>
					<p>
						ИНН: 7724385686, КПП: 772401001&nbsp;
					</p>
					<p>
						АО «АЛЬФА-БАНК»&nbsp;
					</p>
					<p>
						р/сч.: 40702810602270000877&nbsp;
					</p>
					<p>
						кор/сч.: 30101810200000000593&nbsp;
					</p>
					<p>
						БИК: 044525593
					</p>
					<div itemscope="" itemtype="http://schema.org/Store">
						<div class="hide">
							<a href="https://nf-rus.ru" itemprop="url"><span itemprop="name">Специализированный магазин
									Neff</span></a>
							<meta itemprop="brand" content="Neff">
							<img itemprop="logo" src="https://nf-rus.ru/mockup/templates/main/build/images/logo-new.svg"
								alt="Neff">
							<img itemprop="image"
								src="https://nf-rus.ru/mockup/templates/main/build/images/logo-new.svg" alt="Neff">
							<meta itemprop="legalName" content="ООО «МСК»">
							<div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
								<meta itemprop="streetAddress" content="ул. Старобитцевская, 17к1, оф.77">
								<meta itemprop="postalCode" content="115230">
								<meta itemprop="addressLocality" content="Москва">
							</div>
							<meta itemprop="openingHours" content="Mo-Fr 08:00-22:00">
							<meta itemprop="openingHours" content="Sa-Su 09:00-22:00">
							<meta itemprop="telephone" content="74959297015">
							<meta itemprop="telephone" content="78004441327">
							<meta itemprop="email" content="shop@nf-rus.ru">
							<meta itemprop="taxID" content="7734379272">
							<meta itemprop="vatID" content="773401001">
							<meta itemprop="PriceRange" content="249-605950RUB">
							<div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
								<meta itemprop="ratingValue" content="4.9">
								<meta itemprop="reviewCount" content="254">
							</div>
						</div>
					</div>

				</div>
				<div class="contact__row">
					<p>
						Мы с большим вниманием относимся к Вашему мнению о качестве нашей работы! <br>
						Для того, чтобы мы могли оперативно реагировать на Ваши предложения и претензии, пожалуйста,
						сообщите нам об этом,
						написав письмо специалисту Службы качества:<a itemprop="email"  target="_blank" href="mailto:sk@l-rus.ru">
							sk@l-rus.ru</a>
					</p>
					<p>
						Вам будет предоставлена необходимая консультация и оказана оперативная помощь!

					</p>
				</div>

			</div>
			<div class="contact__item">
				<h3>
					Задать вопрос
				</h3>
				<form action="" method="post" class="contact__form">
					<input type="hidden" name="FAQ[SEND]" value="1">
					<input type="hidden" name="action" value="FAQ">
					<input type="hidden" name="id" value="0">
					<div class="contact__detail">
						<span class="return-exchange__name">Ваше имя<span
								class="return-exchange__required">*</span></span>
						<input type="text" name="" value="" class="return-exchange__input" placeholder="Ваше имя *"
							title="ФИО">
						<span class="return-exchange__error-text"></span>
					</div>
					<div class="contact__detail">
						<span class="return-exchange__name">E-mail <span
								class="return-exchange__required">*</span></span>
						<input type="text" name="" value="" class="return-exchange__input" placeholder="Email *"
							title="E-mail">
						<span class="return-exchange__error-text"></span>
					</div>
					<div class="contact__detail">
						<span class="return-exchange__name">Телефон <span
								class="return-exchange__required">*</span></span>
						<input type="tel" name="" value="" class="return-exchange__input" placeholder="Телефон *"
							title="Телефон">
						<span class="return-exchange__error-text"></span>
					</div>
					<div class="contact__detail contact__detail-textarea">
						<span class="return-exchange__name">Ваш вопрос <span
								class="return-exchange__required">*</span></span>
						<textarea name="" rows="" cols="" class="return-exchange__textarea" placeholder="Ваш вопрос *"
							title="Причина обращения"></textarea>
						<span class="return-exchange__error-text"></span>
					</div>
					<label class="checkbox checkbox_oferta ">
						<input type="checkbox" name="" class="checkbox__input" checked="">
						<span class="checkbox__icon"></span>
						<span class="checkbox__text">Согласен с
							<a href="#">использованием персональных данных</a>для обработки обращения</span>
					</label>
					<input type="submit" value="Отправить" class="btn-sub3 abuse-popup__submit" name="">
				</form>
			</div>
			<div class="contact__item">
				<p>
					<b>Правила приема рекламационных обращений</b>
					Информация по приему
					<a href="/claim/">претензий и заявлений на рекламацию</a>
				</p>
			</div>
		</div>
	</div>

</div>
